<div class="flight_booking_confirmation">
    <div class="content">
        <div class="success_icon"><img src="assets/images//icons/success_icon.png" alt="Booking Confirm"></div>
        <div class="text_info">
            <p style="font-size: 14px;font-weight: 600;color: gray;">Booking Ref. FRA-BE-1985426423-MHKDFC_DELIVERY_ORDER</p>
            <h5 style="font-weight: 800;">You successfully created your booking</h5>
            <p>To print your booking <a href="#" style="color: green;">Click here</a></p>
            <button type="button" class="btn btn-primary btn-sm mt-2 px-5 py-2" routerLink="/flights-search/flight-bookings">Check Bookings</button>
        </div>
    </div>
</div>