.header {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dedede;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
  padding: 0 0 0 10px;
  background: #fff;
  position: fixed;
  z-index: 9999;
  top: 0;
}

.full_page {
  background-color: #FEE5E1;
  width: 100%;
  position: fixed;
  display: grid;
  align-items: center;
  z-index: 999;
  min-height: 100vh;
  margin-top: 9px;

  .card {
    padding: 40px;
    background: #fff;

    .title {
      margin-bottom: 20px;
      font-size: 20px;
      font-family: "Poppins", sans-serif;
    }

    form {
      input.form-control {
        display: block;
        width: 100%;
        padding: 1.4rem 0.75rem;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }

      label.form-label {
        font-size: 16px;
        font-weight: 600;
        color: #0000009e;
        margin-bottom: 0.8rem;
      }

      .btn-primary {
        background: var(--primary);
        border: none;
        padding: 8px 15px;
        font-size: 15px;
        font-weight: 600;
      }
    }
  }
}




@media (max-width:425px) {
  .full_page {
    background: rgb(246, 219, 219);
    .card {
      padding: 15px;
      border: 0;
      border-radius: 0;
      .title {
        font-size: 15px;
        form {
            label.form-label {
              font-size: 12px;
            }
          }
      }
    }
  }



  
}
