<div class="header d-md-block d-block">
    <nav class="navbar sticky-top">
        <img src="https://storage.googleapis.com/jusbid_cloud_storage/assets/images/logos/Jusbid_logo.png"
            routerLink="/" alt="">

    </nav>

</div>

<div class="full_page">
    <div class="container ">
        <div class="card">
            <h2 class="title">Don't worry! Just put your email id and we will send you the current password.</h2>
            <div>
                <h3>Forgot Password</h3>
            </div>

            <form #resendEmailForm="ngForm" (submit)="userResendEmail(resendEmailForm)" autocomplete="off">

                <ng-container *ngIf="resMsg">
                    <div class="alert" [ngClass]="isError ? 'alert-danger' : 'alert-success' " role="alert"
                        id="loginAlert">
                        {{ resMsg }}
                    </div>
                </ng-container>

                <div class="form">
                    <label for="email" class="form-label">Please Enter your Registered Email Address</label>
                    <input type="email" class="form-control " autocomplete="off" id="email" name="email"
                        placeholder="Email Address" ngModel required maxlength='30' (input)='enableButton($event)'>
                </div>

                <div style="display: flex;align-items: center;">
                    <button type="submit" class="btn btn-primary w-auto mt-3" [disabled]='disableForgotPassword'>Forgot
                        Password</button>
                    <button type="button" class="btn btn-light w-auto mt-3 border mx-2"
                        routerLink="/auth">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>