<main-header [header]="'main'"></main-header>
<section>
  <div class="policy">
    <div class="policy__terms">
      <div class="policy__hero">
        <h1 class="policy__hero--heading">PRIVACY POLICY</h1>
        <span>Last updated: 18/10/2021</span>
      </div>
    </div>

    <!-- GENERAL -->
    <div style="margin-top: 50px;">
      <div style="border-bottom: 1px solid #dedede;padding-bottom: 10px;margin-bottom: 20px;">
        <h2><b>GENERAL</b></h2>
      </div>
      <ul style="list-style: none;">
        <li style="margin-bottom: 10px;">
          <ul>
            <li style="margin-bottom: 20px;">We (defined below) are committed to protect your privacy
              and grant importance to the
              confidentiality of your data over internet. This privacy policy (<b>“Privacy Policy”</b>) read
              with
              the
              Terms and Conditions available at our website www.jusbid.in and our mobile application
              (<b>“Platform”</b>) applies to all services offered to persons using or visiting (<b>“User(s)”,
                “You”</b>
              or
              <b>“Your”</b>) the Platform.
            </li>
            <li style="margin-bottom: 20px;">
              The terms <b>"Company”, “we", "us", "our"</b> shall mean <b>RUDROHOM COMTRADE PRIVATE
                LIMITED,</b> a company duly incorporated under the provisions of Companies Act, 2013, having
              its registered office at 4-C, Haridas Ji Ki Magri, Hotel Trident Road, Udaipur,
              Rajasthan-313001,
              India, and its affiliates, we believe it is important for You to understand what
              information
              we
              collect from You, how it is used and who will have access to that information. This
              Privacy
              Policy
              sets forth the policy in relation to the collection and usage of Personal Information
              (defined
              hereinafter) and User Data (defined hereinafter) that You may provide to us while using
              our
              Platform and related services (collectively <b>“Services”</b>).
            </li>
            <li style="margin-bottom: 20px;">By visiting or using our Platform, domain name and any
              other linked pages, features,
              content,
              or
              any other services we offer from time to time by in connection there with, or by using
              the
              Services
              in any manner, You acknowledge that You accept the practices and policies outlined in
              this
              Privacy
              Policy, and You hereby consent to our collection, use and disclosure of Personal
              Information
              in
              accordance with this Privacy Policy. If You are not agreeable to this, please do not use
              this
              Platform and/or Services provided by us.</li>
            <li style="margin-bottom: 20px;">We collect, use, share, disclose and protect Your personal
              data provided while using the
              Services
              available on the Platform. The data collected is used only to enhance the operation of
              the
              Platform,
              allowing You to use all the listed features and allowing us to respond to Your
              requests/queries in
              an efficient manner. The Personal Information is used strictly in line with our business
              purposes
              and to provide You with useful features. </li>
            <li style="margin-bottom: 20px;">In this Privacy Policy, “Personal Information” shall mean
              information through which a
              User
              can
              be identified, directly or indirectly, in particular by reference to User, their name,
              email
              address,
              phone number, username, password, billing address, Internet Protocol (<b>“IP”</b>) address as
              well
              as
              any information associated with the foregoing (<b>“Personal Information”</b>). Personal
              Information
              does not include anonymized information that has been appropriately processed to make it
              nonidentifiable in order to irreversibly prevent its identification.
            </li>
            <li style="margin-bottom: 20px;">
              We respect the privacy of our Users and are committed to protect it in all respects. The
              information
              about the User is collected by us as (i) information supplied by Users; (ii) information
              automatically tracked during User's navigation on the Platform; and/ or (iii)
              communicated
              directly
              to us via email or telephone or another channel.
            </li>
            <li style="margin-bottom: 20px;">
              User acknowledges that this Privacy Policy, together with Cookie Policy and Terms and
              Conditions, forms our agreement with the User in relation to his or her use of the
              Platform.
              Any
              capitalized term used but not defined in this Privacy Policy shall have the meaning
              attributed to it
              in our Terms and Conditions.

            </li>
            <li style="margin-bottom: 20px;">
              For any service that the User may use, we only collect the data that is strictly
              necessary
              (i) for the
              delivery of the Services, (ii) for the performance of a contract for which User is a
              party,
              (iii) for
              which User has given consent for such processing of data, or (iv) for compliance with a
              legal
              obligation to which we are subject
            </li>
            <li style="margin-bottom: 20px;">
              By using the Platform or by otherwise giving us Your Personal Information, You will be
              deemed
              to have read, understood and agreed to the practices and policies outlined in this
              Privacy
              Policy
              and agree to be bound by the Privacy Policy. You hereby consent to our collection, use
              and
              sharing,
              disclosure of Your Personal Information as described in this Privacy Policy. We reserve
              the
              right
              to change, modify, add or delete portions of the terms of this Privacy Policy, at our
              sole
              discretion,
              at any time.
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- USERS OUTSIDE THE GEOGRAPHICAL LIMITS OF INDIA -->
    <div style="margin-top: 50px;">
      <div style="border-bottom: 1px solid #dedede;padding-bottom: 10px;margin-bottom: 20px;">
        <h2><b>USERS OUTSIDE THE GEOGRAPHICAL LIMITS OF INDIA</b></h2>
      </div>
      <ul style="list-style: none;">
        <li style="margin-bottom: 10px;">
          <ul>
            <li style="margin-bottom: 20px;">The Personal Information shared with the Company shall be
              primarily processed in India and such
              other jurisdictions where a third-party is engaged by the Company which may process the
              data on
              Company’s behalf. By agreeing to this Privacy Policy, You are providing the Company with
              Your
              explicit consent to process Your Personal Information for the purpose(s) defined in this
              Privacy
              Policy. The data protection regulations in India or such other jurisdictions mentioned
              above may
              differ from those of Your country of residence.
            </li>
            <li style="margin-bottom: 20px;">In case You have any concerns in the processing Your
              personal data and wish to withdraw Your
              consent, You may do so by writing to <a href="mailto:support@jusbid.in">support@jusbid.in</a>. However, if
              such processing
              of data is
              essential for us to be able to provide Services to the User, then we may not be able to
              serve or
              confirm Your reservations after Your withdrawal of consent. For instance, if You want to
              book
              any hotel accommodations in group bookings, then Your Personal Information along with
              some
              additional information such as dietary preferences, choice of room with smoking
              facility, any
              medical condition which may require specific attention or facility etc. may have to be
              shared by
              us with our vendors in each city where You will be staying, and they may further process
              this
              information for making suitable arrangements for You during the accommodation period.
              Such
              sharing and processing of information may extend to the hotel, venue, travel agencies or
              airlines
              where You will be staying/travelling or any such person who will be guiding You during
              Your
              stay/travel.</li>
            <li style="margin-bottom: 20px;">A withdrawal of consent by You for us to process Your
              Personal Information may severely inhibit
              our ability to serve You properly and in such case, we may have to refuse the booking
              altogether,
              or unreasonably restrict us to service Your booking (if a booking is already made) which
              may
              further affect Your stay or may compel us to cancel Your booking.
            </li>
          </ul>
        </li>
      </ul>
    </div>


    <!-- INFORMATION COLLECTED -->
    <div style="margin-top: 50px;">
      <div style="border-bottom: 1px solid #dedede;padding-bottom: 10px;margin-bottom: 20px;">
        <h2><b>INFORMATION COLLECTED</b></h2>

      </div>
      <ul style="list-style: none;">
        <li style="margin-bottom: 10px;">

          <ul>
            <li style="margin-bottom: 20px;">
              In the course of providing Services to You through the Platform, we may collect the
              following:
              <ul style="padding: 10px 40px;">
                <li style="margin-bottom: 20px;">Personal Information such as Your name, phone
                  number, username, password, e-mail
                  address when You register on the Platform. When You visit or leave our Services,
                  we
                  receive the URL of both the websites You came from and one You go to next. This
                  type of
                  information is primarily used to maintain the security, operation of our Platform
                  along with
                  this it also used for our internal analytics and reporting purposes.
                </li>
                <li style="margin-bottom: 20px;">Information provided by You on Your e-mail/social
                  media accounts, which will be linked
                  with the account created by You on our Platform, information disclosed therein
                  including
                  but not limited to username as provided by You at the time of sign-up and any
                  other
                  information that may be required or be related to rendering the Services in an
                  efficient and
                  timely manner.
                </li>
                <li style="margin-bottom: 20px;">
                  With Your permission, we may automatically collect some information about Your
                  hardware devices when You access the Platform. For example, when You utilize our
                  Platform, we may collect Your IP address and the type of mobile
                  device/computer/laptop
                  You use and Your geographic location. We may also collect information about Your
                  activity on the Platform, such as information about Your account usage, as well
                  as
                  information about how You interact with the Platform (collectively, “User
                  Data”). We
                  may combine this automatically gathered information with other information,
                  including
                  Personal Information we have collected about You.
                </li>
                <li style="margin-bottom: 20px;">If You permit cookies on Your browser, we may
                  receive, and store certain types of
                  information known as “Cookies” (as defined in the Cookie Policy) when You access
                  the
                  Platform. </li>
                <li style="margin-bottom: 20px;">All communications between You and the Company.
                </li>
              </ul>
            </li>

            <li style="margin-bottom: 20px;">
              The information collected from You by the Company may constitute ‘Personal Information’
              or
              ‘sensitive personal data or information’ as defined under the Information Technology
              (Reasonable
              Security Practices and Procedures and Sensitive Personal Information) Rules, 2011 (<b>“SPI
                Rules”</b>).
              The SPI Rules states <b>“Sensitive Personal Data or Information”</b> of a person to mean
              personal
              information about that person relating to:

              <ul style="padding: 10px 40px;">
                <li style="margin-bottom: 20px;">passwords</li>

                <li style="margin-bottom: 20px;">financial information such as bank accounts, credit
                  and debit card details or other
                  payment
                  instrument details;</li>

                <li style="margin-bottom: 20px;">
                  physical, physiological and mental health condition;
                </li>


                <li style="margin-bottom: 20px;">sexual orientation;</li>

                <li style="margin-bottom: 20px;">medical records and history;
                </li>

                <li style="margin-bottom: 20px;">biometric information;</li>

                <li style="margin-bottom: 20px;">information received by body corporate under lawful
                  contract or otherwise; and</li>

                <li style="margin-bottom: 20px;">
                  visitor details as provided at the time of registration or thereafter.
                </li>
              </ul>
            </li>

            <li style="margin-bottom: 20px;">
              Company will be free to use, collect and disclose information that is freely available
              in the public
              domain without Your consent.

            </li>


            <li style="margin-bottom: 20px;">

              In order to provide Services through the Platform, we may require the User to provide us
              with
              certain information that personally identifies himself. Personal Information includes
              the following
              categories of information:

              <ul style="padding: 10px 40px;">
                <li style="margin-bottom: 20px;">
                  Contact data (such as email address, phone number and call recording); and
                </li>
                <li style="margin-bottom: 20px;">
                  Demographic data (such as time zone, postal address and location details); and
                </li>
                <li style="margin-bottom: 20px;">
                  If the User communicates with us, for example, via e-mail, registers with us,
                  any
                  information provided in such communication may be collected by us.

                </li>

                <li style="margin-bottom: 20px;">
                  Financial data (such as account details, e-wallet details, bank account or
                  credit or debit card
                  details or other payment instrument details etc.) that User may have provided us
                  while
                  using the Services provided by the Platform.
                </li>

              </ul>

            </li>
            <li style="margin-bottom: 20px;">
              When You get yourself registered on our Platform, You can share with us additional
              information,
              such as details of Your personality, lifestyle, interests and other details about You by
              choosing to
              provide this information, You consent to our processing of that information. </li>
            <li style="margin-bottom: 20px;">
              All such information is stored or used for processing Services and under no circumstance
              are any
              of these details made available in the public domain. However, we may use this
              information to share with You additional and/ or upcoming information regarding the
              Services offered by the
              Platform.</li>
            <li style="margin-bottom: 20px;">
              The Platform may transmit User Data to the data servers, to ensure the security of data
              storage
              collected by us. Thereby the User is also subject to the terms of data server’s policy.
              The Personal
              Information is immediately deleted once User deletes his account exclusively made on the
              Platform, except to the extent it is necessary to store the same under applicable laws.
              Further, we
              have implemented commercially reasonable physical, managerial, operational and technical
              security measures to protect the loss, misuse and alteration and to preserve the
              security of the
              Personal Information in our care. </li>
            <li style="margin-bottom: 20px;">
              Our Platform may contain links to third party websites or applications. The User agrees
              and
              understands that privacy policies of these websites are not under our control and the
              User
              understands that once he or she leaves our servers, use of any information provided by
              the User
              shall be governed by the privacy policy of the operator of the website used by them.
            </li>
            <li style="margin-bottom: 20px;">
              Prior to any direct marketing or commercial operation (for example for sending the
              newsletters or
              commercial offers), we will first obtain User’s consent, either when creating account on
              the
              Platform or later by indicating Your choice in account settings. User will always have
              the right to
              withdraw his or her consent at any time, directly by clicking on the unsubscribe link
              available on
              each email received, by modifying his account settings, or by contacting us at <a
                href="mailto:sales@jusbid.in" style="color: blue; text-decoration: none;">sales@jusbid.in</a></li>
            <li style="margin-bottom: 20px;">
              We may disclose any information we may deem necessary, in our sole discretion, to comply
              with
              any applicable law, regulation, legal process or governmental request, in order to
              investigate,
              prevent or take action regarding illegal activities, suspected fraud, situations
              involving potential
              threats to the physical safety of any personal or as otherwise required by law. Such
              transfer or
              disclosure shall be for lawful purposes only. Further, such transfer or disclosure of
              Your sensitive
              Personal Information to other third parties shall only be done once it is ensured that
              the third party
              receiving such information has implemented the same level of security practices as we
              have.</li>
            <li style="margin-bottom: 20px;">
              We take Your right to privacy very seriously and other than as specifically stated in
              this Privacy
              Policy, will only disclose Your Personal Information in the event it is required to do
              so by
              applicable law, rule, regulation, law enforcement agency, governmental official, legal
              authority or
              similar requirements or when Company, in its sole discretion, deems it necessary in
              order to protect
              its rights or the rights of others, to prevent harm to persons or property, to fight
              fraud and credit
              risk, or to enforce or apply the Terms and Conditions.</li>
          </ul>

        </li>
      </ul>
    </div>


    <!-- USE OF PERSONAL INFORMATION -->
    <div style="margin-top: 50px;">
      <div style="border-bottom: 1px solid #dedede;padding-bottom: 10px;margin-bottom: 20px;">
        <h2><b>USE OF PERSONAL INFORMATION</b></h2>
      </div>
      <ul style="list-style: none;">
        <li style="margin-bottom: 10px;">
          <ul>
            <li style="margin-bottom: 20px;">While making a booking, we may use Your Personal
              Information and User Data including,
              payment details which include cardholder name, credit/debit card number (in encrypted
              form) with an
              expiration date, banking details, wallet details etc. as shared and allowed to be stored
              by You. We
              Page 6 of 11
              may also use the information of travelers list as available in or linked with Your
              account. This
              information is presented to the User at the time of making a booking to enable You to
              complete
              Your bookings expeditiously.
            </li>
            <li style="margin-bottom: 20px;">We (and third-party data processors, vendors and hosting
              partners who may be acting on our
              behalf) may collect, store and process Your Personal Information/ User Data for the
              following
              reasons:
            </li>
            <ul style="padding: 10px 40px;">
              <li style="margin-bottom: 20px;">In order to confirm Your reservations with respective
                service providers/vendors;
              </li>

              <li style="margin-bottom: 20px;">keep You informed of the transaction status;
              </li>

              <li style="margin-bottom: 20px;">send booking confirmations either via SMS or WhatsApp
                or any other messaging service;
                send any updates or changes to Your booking(s);
              </li>

              <li style="margin-bottom: 20px;">allow our customer service to contact You, if
                necessary;
              </li>

              <li style="margin-bottom: 20px;">customize the content of our Platform;
              </li>

              <li style="margin-bottom: 20px;">request for reviews of products or services or any
                other improvements;
              </li>

              <li style="margin-bottom: 20px;"> send verification message(s) or email(s);
              </li>

              <li style="margin-bottom: 20px;"> validate/authenticate Your account and to prevent any
                misuse or abuse;
              </li>

              <li style="margin-bottom: 20px;"> contact You on Your birthday/anniversary to offer a
                special gift or offer.
              </li>
            </ul>

            <li style="margin-bottom: 20px;">We value opinions and comments from our Users and
              frequently conduct surveys, both online and
              offline. Participation in these surveys is entirely optional. Typically, the information
              received is
              aggregated and used to make improvements to our Platform, Services and to develop
              appealing
              content, features and promotions for members based on the results of the surveys.
              The identity of the
              survey participants is anonymous unless otherwise stated in the survey.
            </li>

            <li style="margin-bottom: 20px;">Marketing Promotions, Research and Programs:
            </li>
            <ul style="padding: 10px 40px;">
              <li style="margin-bottom: 20px;">Marketing promotions, research and programs help us to
                identify Your preferences,
                develop programs and improve User experience. The Company frequently sponsors
                promotions to give its Users the opportunity to win great travel and travel related
                prizes.
                Personal Information collected by us for such activities may include contact
                information
                and survey questions. We use such Personal Information to notify contest winners and
                survey information to develop promotions and product improvements. As a registered
                User, You will also occasionally receive updates from us about fare sales in Your
                area,
                special offers, new services, other items (like savings and benefits on hotel
                reservations,
                holiday packages, flight bookings, and other travel services) and marketing
                programs.
              </li>

              <li style="margin-bottom: 20px;">In addition, You may look forward to receiving periodic
                marketing emails, newsletters and
                exclusive promotions offering special deals.
              </li>

              <li style="margin-bottom: 20px;">Company may from time to time launch reward programs by
                way of which Users may
                stand to win travel related rewards or other rewards. We may use Your Personal
                Information to enroll You in the rewards program and status of the same will be
                visible
                each time You log in to the Platform. Depending on the reward program, each time You
                win a reward, Company may share Your Personal Information with a third party that
                will
                be responsible for fulfilling the reward to You. You may however choose to opt out
                of such
                reward programs by writing to us. For various purposes such as fraud detection,
                offering
                bookings on credit etc., we at times may verify information of customers on
                selective basis,
                including their credit information. Additionally, we may share Your Personal
                Information,
                anonymized and/ or aggregated data to a third party that the Company may engage to
                perform certain tasks on its behalf, including but not limited to payment
                processing, data
                hosting, data processing and assessing credit worthiness for offering bookings on
                credit.
              </li>
            </ul>
            <li style="margin-bottom: 20px;">to make this Platform customized; to provide content
              tailored to individual requirements; to
              understand Your needs and provide You with improved products and Services, newsletters
              and
              other communications and to enable others to view submissions/posts and blogs of Users;
            </li>
            <li style="margin-bottom: 20px;">to maintain any registered accounts that You may hold with
              us and to provide You with updates
              or notifications of changes to Your account;
            </li>
            <li style="margin-bottom: 20px;">for our internal record keeping requirements including
              collection of anonymized details about
              visitors to our Platform to compile aggregate statistics or produce internal reports;
            </li>
            <li style="margin-bottom: 20px;">for any purposes related to the above or where we have a
              legal right or duty to use or disclose Your
              Personal Information (including for abuse, crime and fraud prevention and related
              purposes).
            </li>
            <li style="margin-bottom: 20px;">To better understand how the Users access and use our
              Services, both on an aggregated and
              individualized basis; and
            </li>
            <li style="margin-bottom: 20px;">User posted content may be reused by us to aggregate data
              about a particular activity or location
              and include it in consolidated formats.
            </li>
            <li style="margin-bottom: 20px;">If we become aware that we have collected or been sent
              Personal Information/User Data from a
              person who is under 18 (eighteen) years of age, without the consent of the parent or
              guardian, we
              will deactivate the relevant account as soon as is reasonably practicable by us.
            </li>
            <li style="margin-bottom: 20px;">Your User Data may be disclosed as part of any merger, sale
              of company assets or acquisition, as
              well as in the event of insolvency, bankruptcy or receivership, in which Personal
              Information
              would be transferred as one of the business assets of the Company.
            </li>
            <li style="margin-bottom: 20px;">Further, in an ongoing effort to better understand and
              serve the users of our Service, we also often
              conduct research on its customer demographics, interests and behavior based on the
              Personal
              Information and other information provided to us. This research may be compiled and
              analyzed
              on an aggregate basis, and we may share this aggregate data with our affiliates, agents,
              advertisers,
              and business partners. This aggregate information does not identify You personally. We
              may also
              disclose aggregated User statistics in order to describe our Services to current and
              prospective
              business partners and to other third parties for other lawful purposes (including
              providing
              advertising use cases to actual or potential advertisers).
            </li>
          </ul>
        </li>
      </ul>
    </div>


    <!-- SHARING OF PERSONAL INFORMATION -->
    <div style="margin-top: 50px;">
      <div style="border-bottom: 1px solid #dedede;padding-bottom: 10px;margin-bottom: 20px;">
        <h2><b>SHARING OF PERSONAL INFORMATION</b></h2>
      </div>
      <ul style="list-style: none;">
        <li style="margin-bottom: 10px;">
          <ul>
            <li style="margin-bottom: 20px;">Your Personal Information shall be shared with the end
              service providers and suppliers like hotels,
              resorts, airlines, travel agencies or such other accommodation providers, or any other
              suppliers
              who are responsible for fulfilling Your booking. You may note that while making a
              booking with
              the Company, You authorize us to share Your information with the said service providers
              and
              suppliers. It is pertinent to note that the Company does not authorize the end service
              provider to
              use Your information for any other purpose(s) except as may be for fulfilling their part
              of service.
              However, how the said service providers/suppliers use the information shared with them
              is beyond
              the purview and control of the Company as they process Personal Information as
              independent data
              controllers, and hence we cannot be made accountable for the same. You are therefore
              advised to
              review the privacy policies of the respective service provider or supplier whose
              services You
              choose to avail.
            </li>
            <li style="margin-bottom: 20px;">Company does not sell or rent individual customer names or
              other Personal Information of Users
              to third parties except sharing of such information with our business / alliance
              partners, channel
              partners or vendors who are engaged by us for providing various referral services and
              for sharing
              promotional and other benefits to our customers from time-to-time basis their booking
              history with
              us.
            </li>
            <li style="margin-bottom: 20px;">In the interests of improving personalization and service
              efficiency, we may, under controlled and
              secure circumstances, share Your Personal Information with our affiliate or associate
              entities. This
              will enable us to provide You with information about various products and services, both
              leisure and travel-related, which might interest You; or help us address Your questions
              and requests in
              relation to Your bookings.
            </li>
            <li style="margin-bottom: 20px;">If the assets of the Company are acquired, our customer
              information may also be transferred to the
              acquirer depending upon the nature of such acquisition. In addition, as part of business
              expansion/development/restructuring or for any other reason whatsoever, if we decide to
              sell/transfer/assign our business, any part thereof, any of our subsidiaries or any
              business units,
              then as part of such restructuring exercise customer information including the Personal
              Information collected herein shall be transferred accordingly.
            </li>
            <li style="margin-bottom: 20px;">We may also share certain filtered Personal Information to
              our corporate affiliates or business
              partners who may contact the Users to offer certain products or services, which may
              include free
              or paid products / services, which will enable the Users to have better travel
              experience or to avail
              certain benefits specially made for our Users. Examples of such partners are entities
              offering cobranded credit cards, travel insurance, insurance cover against loss of
              wallet, banking cards or
              similar sensitive information etc. If You choose to avail any such services offered by
              our business
              partners, the services so availed will be governed by the privacy policy of the
              respective service
              provider.
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div style="margin-top: 50px;">
      <div style="border-bottom: 1px solid #dedede;padding-bottom: 10px;margin-bottom: 20px;">
        <h2><b>TENURE OF STORING YOUR PERSONAL INFORMATION</b></h2>
      </div>
      <ul style="list-style: none;">
        <li style="margin-bottom: 10px;">
          <ul>
            <li style="margin-bottom: 20px;">Company will retain Your Personal Information and User Data
              on its servers for as long as is
              reasonably necessary for the purposes listed in this Privacy Policy. In some
              circumstances we may
              retain Your data for longer periods of time, for instance where we are required to do so
              in
              accordance with any legal, regulatory, tax or accounting requirements.
            </li>
            <li style="margin-bottom: 20px;">Where Your personal data is no longer required, we will
              ensure it is either securely deleted or
              stored in a way which means it will no longer be used by the Company.
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div style="margin-top: 50px;">
      <div style="border-bottom: 1px solid #dedede;padding-bottom: 10px;margin-bottom: 20px;">
        <h2><b>USAGE OF COOKIES</b></h2>
      </div>
      <ul style="list-style: none;">
        <li style="margin-bottom: 10px;">
          <ul>
            <li style="margin-bottom: 20px;">In some instances, we and our service providers use cookies
              and other technology to automatically
              collect certain types of information when You visit our Platform, as well as through
              emails that
              we may exchange. The collection of this information allows us to customize Your online
              experience, improve the performance, usability and effectiveness of our online presence,
              and to
              measure effectiveness of our marketing strategies.
            </li>
            <li style="margin-bottom: 20px;">To know more about this, please visit to: Cookie Policy.
            </li>
          </ul>
        </li>
      </ul>
    </div>


    <div style="margin-top: 50px;">
      <div style="border-bottom: 1px solid #dedede;padding-bottom: 10px;margin-bottom: 20px;">
        <h2><b>SECURITY</b></h2>
      </div>
      <ul style="list-style: none;">
        <li style="margin-bottom: 10px;">
          <ul>
            <li style="margin-bottom: 20px;">The security of Your Personal Information and User Data is
              important to us. We follow generally
              accepted industry standards to protect the User Data and Personal Information submitted
              to us,
              both during transmission and once we receive it. All information gathered on our
              Platform is
              securely stored on the cloud, physical server. The database is stored on servers secured
              behind a
              firewall; access to the servers is password-protected and is strictly limited. Such
              information may
              also be converted to physical form from time to time, if deemed necessary. We take all
              necessary
              precautions to protect Your Personal Information both online and off-line and implement
              reasonable security practices and measures including certain managerial, technical,
              operational
              and physical security control measures that are commensurate with respect to the
              information
              being collected and the nature of our business.
            </li>
            <li style="margin-bottom: 20px;">Although We make best possible efforts to store Personal
              Information in a secure operating
              environment that is not open to the public, User must understand that there is no such
              thing as
              complete security, and we do not guarantee that there will be no unintended disclosures
              of Personal
              Information. If we become aware that User’s Personal Information has been disclosed in a
              manner
              not in accordance with this Privacy Policy, we will use reasonable efforts to notify
              such User of
              the nature and extent of such disclosure as soon as reasonably possible and as permitted
              by law.
            </li>
            <li style="margin-bottom: 20px;">For security from Your part, You should:
            </li>

            <ul style="padding: 10px 40px;">
              <li style="margin-bottom: 20px;">if using a computer in a public location, always log
                out and close the website browser when
                You complete Your online session;
              </li>

              <li style="margin-bottom: 20px;">keep Your account details and passwords private;
              </li>

              <li style="margin-bottom: 20px;">frequently change Your password;
              </li>

              <li style="margin-bottom: 20px;">avoid using the same password for multiple online
                accounts.
              </li>
            </ul>
            <li style="margin-bottom: 20px;">Depending on the processing of Personal Information, the
              data may be subject to a different storage
              period.
            </li>
            <li style="margin-bottom: 20px;">We do not sell User’s Personal Information to any
              advertisers or any third party. We use User’s
              Personal Information to display relevant advertisements, based on his preferences. We
              make
              reports related to the advertisement campaigns, in particular statistics, without any
              reference or
              information related to the Personal Information of visitors or Users of the Platform.
              User can also
              block advertising cookies in the dedicated cookies page.
            </li>
            <li style="margin-bottom: 20px;">Any purchase transaction data is only used as long as is
              necessary to complete the purchase
              transaction and after that is complete, Your purchase transaction information will not
              be saved.
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div style="margin-top: 50px;">
      <div style="border-bottom: 1px solid #dedede;padding-bottom: 10px;margin-bottom: 20px;">
        <h2><b>WITHDRAWAL OF CONSENT AND PERMISSION</b></h2>
      </div>
      <ul style="list-style: none;">
        <li style="margin-bottom: 10px;">
          <ul>
            <li style="margin-bottom: 20px;">You may withdraw Your consent to submit any or all Personal
              Information or decline to provide
              any permissions on the Platform as covered above at any time. In case, You choose to do
              so then
              Your access to the Platform may be limited, or we might not be able to provide the
              Services to
              You. You may withdraw Your consent by sending an email to <a href="mailto:support@jusbid.in">
                support@jusbid.in.</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div style="margin-top: 50px;">
      <div style="border-bottom: 1px solid #dedede;padding-bottom: 10px;margin-bottom: 20px;">
        <h2><b>CHANGE TO PRIVACY POLICY</b></h2>
      </div>
      <ul style="list-style: none;">
        <li style="margin-bottom: 10px;">
          <ul>
            <li style="margin-bottom: 20px;">Company may update this Privacy Policy at any time, with or
              without advance notice. In the event
              there are significant changes in the way Company treats User’s Personally Information,
              or in the
              Privacy Policy itself, Company will display a notice on the Platform or send Users an
              email, as
              Page 11 of 11
              provided for above, so that You may review the changed terms prior to continuing to use
              the
              Services.
            </li>
            <li style="margin-bottom: 20px;">If You object to any of the changes to our Privacy Policy,
              and You no longer wish to avail the
              services, You may contact us at Email address or Address provided hereinbelow to
              deactivate Your
              account and for any other issues related to this Privacy Policy. Unless stated
              otherwise, Company’s
              current Privacy Policy applies to all information that the Company has about You and
              Your
              account.
            </li>
            <li style="margin-bottom: 20px;">If a User uses the Platform, after a notice of changes
              published on the Platform, such User hereby
              provides his/her/its consent to the changed terms.
            </li>
            <li style="margin-bottom: 20px;">This Privacy Policy is an electronic record in the form of
              an electronic contract formed under the
              Information Technology Act, 2000 and the rules made thereunder and the amended
              provisions
              pertaining to electronic documents/ records in various statutes as amended by the
              Information
              Technology Act, 2000. This Privacy Policy does not require any physical, electronic or
              digital
              signature and is a legally binding document between the User and the Company.
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div style="margin-top: 50px;">
      <div style="border-bottom: 1px solid #dedede;padding-bottom: 10px;margin-bottom: 20px;">
        <h2><b>CONTACT US:</b></h2>
      </div>
      <ul style="list-style: none;">
        <li style="margin-bottom: 10px;">
          <ul>
            <li style="margin-bottom: 20px;">In case You have any queries pertaining to the Privacy
              Policy or our use of Your Personal
              Information, You can direct any questions or complaints to us by contacting the
              designated
              grievance officer through e-mail at <a href="mailto:support@jusbid.in">support@jusbid.in.</a> We will
              investigate and attempt
              to resolve
              any complaints or disputes regarding the use or disclosure of Your Personal Information
              as soon
              as possible. We try to respond to all legitimate requests within 30 (thirty) days from
              date of receipt
              of the complaint. Occasionally it may take us longer than the same if your request is
              particularly
              complex or you have made a number of requests. In this case, we will notify you and keep
              you
              updated.
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>

<main-footer></main-footer>