<main-header [header]="'main'"></main-header>


<div class="container" style="margin-top: 50px; box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);">
<section>
  <header>
    <div class="header">
      <h1 class="career-heading">Get Your Dream Job</h1>
    </div>
  </header>
  <section class="container">
    <div class="row section-1">
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="content">
          <h1 class="sub-heading">
            Welcome, all! We at JusBid, are always excited to bring new energy into the house.
          </h1>
          <p class="sub-content">
            This idea has the potential to grow and make affordable traveling a dream come true for many aspiring travelers.
            We are not limited to providing budget-friendly accommodation for people with wanderlust souls, but we also
            plan to make JusBid a complete traveling solution. You can be a part of this revolution too. Give us your
            ideas, and get a working environment that supports you like a family
            Our Start-Up came up with a revolutionary idea- making hotel rooms available by a customer's bid.
          </p>
        </div>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="main-image">
          <img src="../../../../../assets/images/Career_images/front-photo.png" alt="">
        </div>
      </div>
    </div>
  </section>

  <section class="container my-5 text-center">
    <div class="row section-line">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h1 class="career-section-line">How is it like working with us?</h1>
      </div>
    </div>
  </section>

  <section class="container">
    <div class="row section-2">
      <div class="col-lg-6 col-image col-md-6 col-sm-12 col-xs-12">
        <div class="col-lg-2">
          <div class="image-1">
            <img src="assets/images/Career_images/first.png" alt="">
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-10 col-xs-9">
          <div class="image-2">
            <img src="assets/images/Career_images/first-image.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="column1-content">
          <h1 class="sub-heading">Learn while you earn</h1>
          <p class="sub-content">Learning should never stop when someone wants to earn. It is a notion that a person has to leave their job
            if
            they wish to learn a skill or practice a hobby. That's a thing of the past because JusBid always encourages
            their employees to acquire whatever skill they want to learn. We offer paid leaves, regular training, and
            constantly update our employees of current happenings in the world regarding their work profile.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="container">
    <div class="row section-3">
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="column1-content">
          <h1 class="sub-heading">Emphasis on inclusiveness</h1>
          <p class="sub-content">We believe no one should be left behind. If a working enjoinment has people from different backgrounds,
            sexual orientation, gender identity, color, religion, race, age, marital status, etc. then it is bound to
            grow. The people from these different worlds build together a supportive working environment that cares for
            everyone. We, at JusBid, believe in creating a JusBid family that represents the entire world.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-image col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-4 col-md-4 col-sm-10 col-xs-9">
          <div class="image-2">
            <img src="assets/images/Career_images/second-image.png" alt="">
          </div>
        </div>
        <div class="col-lg-2">
          <div class="image-1">
            <img src="assets/images/Career_images/second.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container">
    <div class="row section-4">
      <div class="col-lg-6 col-image col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-2">
          <div class="image-1">
            <img src="assets/images/Career_images/third.png" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="image-2">
            <img src="assets/images/Career_images/third-image.png" alt="">
          </div>
        </div>

      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="column1-content">
          <h1 class="sub-heading">Let's build great things when we are together</h1>
          <p class="sub-content">Let's find some new bugs in our system. Let's develop a new app that serves our customers better. Let's
            make
            a mechanism where employees can talk about their grievances easily. Let's do all of that together and create
            a
            working group that always supports new ideas. Our Start-Up idea is in itself something new, and we took the
            initiative to bring that out. We will surely support your ideas. Be a part of JusBid and share it with us,
            we
            will make it a reality together.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="container">
    <div class="row section-email">
      <h3 class="section-email-career">Be a part of a fun-filled working organization today. Pick a profile from below and send us your resume </h3>
      <div class="col-12">
        <h5 class="email-career-link"><a href="mailto:hr@jusbid.in">hr@jusbid.in</a></h5>
        <h5 class="email-career-link"><a href="mailto:hr@rudrohom.com">hr@rudrohom.com</a></h5>
      </div>
    </div>
  </section>

  <section class="container">
    <div class="section-5">
        <h2 class="section-5-career">Apply For the Jobs</h2>
      <div class="position">
        <a (click)="show(1)" class="cursor-pointer mx-2">
          <button type="submit" class="btn btn-outline-danger">Developer</button>
        </a>
        <a (click)="show(2)" class="cursor-pointer mx-2">
          <button type="submit" class="btn btn-outline-danger">Marketing</button>
        </a>
        <a (click)="show(3)" class="cursor-pointer mx-2">
          <button type="submit" class="btn btn-outline-danger">Call Center</button>
        </a>
        <a (click)="show(4)" class="cursor-pointer mx-2">
          <button type="submit" class="btn btn-outline-danger">Operation</button>
        </a>
      </div>
    </div>
  </section>

  <section class="container" *ngIf="showmodel">
    <div class="row section-6">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body d-flex">
            <div class="content">
              <h5 class="card-title">Front End Developer</h5>
              <p>Udaipur , Rajasthan</p>
            </div>
            <div class="button">
              <button class="position-buttons" (click)="applyfunc('FAD')" data-bs-toggle="modal"
                data-bs-target="#exampleModal">Apply Now</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 my-2">
        <div class="card">
          <div class="card-body d-flex">
            <div class="content">
              <h5 class="card-title">Full Stack Developer</h5>
              <p>Udaipur , Rajasthan</p>
            </div>
            <div class="button">
              <button class="position-buttons" (click)="applyfunc('FSD')" data-bs-toggle="modal"
                data-bs-target="#exampleModal">Apply Now</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 my-2">
        <div class="card">
          <div class="card-body d-flex">
            <div class="content">
              <h5 class="card-title">Sr. Mobile Developer</h5>
              <p>Udaipur , Rajasthan</p>
            </div>
            <div class="button">
              <button class="position-buttons" (click)="applyfunc('SMD')" data-bs-toggle="modal"
                data-bs-target="#exampleModal">Apply Now</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 my-2">
        <div class="card">
          <div class="card-body d-flex">
            <div class="content">
              <h5 class="card-title">Flutter App Developer</h5>
              <p>Udaipur , Rajasthan</p>
            </div>
            <div class="button">
              <button class="position-buttons" (click)="applyfunc('MAD')" data-bs-toggle="modal"
                data-bs-target="#exampleModal">Apply Now</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12 my-2">
        <div class="card">
          <div class="card-body d-flex">
            <div class="content">
              <h5 class="card-title">UI/UX Designer</h5>
              <p>Udaipur , Rajasthan</p>
            </div>
            <div class="button">
              <button class="position-buttons" (click)="applyfunc('UUD')" data-bs-toggle="modal"
                data-bs-target="#exampleModal">Apply Now</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12 my-2">
        <div class="card">
          <div class="card-body d-flex">
            <div class="content">
              <h5 class="card-title">Quality Tester</h5>
              <p>Udaipur , Rajasthan</p>
            </div>
            <div class="button">
              <button class="position-buttons" (click)="applyfunc('QT')" data-bs-toggle="modal"
                data-bs-target="#exampleModal">Apply Now</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12 my-2">
        <div class="card">
          <div class="card-body d-flex">
            <div class="content">
              <h5 class="card-title">Test Automation Developer</h5>
              <p>Udaipur , Rajasthan</p>
            </div>
            <div class="button">
              <button class="position-buttons" (click)="applyfunc('TAD')" data-bs-toggle="modal"
                data-bs-target="#exampleModal">Apply Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container" *ngIf="showmodel1">
    <div class="row section-6">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body d-flex">
            <div class="content">
              <h5 class="card-title">Business Development Associate</h5>
              <p>Udaipur , Rajasthan</p>
            </div>
            <div class="button">
              <button class="position-buttons" (click)="applyfun('BDA')" data-bs-toggle="modal"
                data-bs-target="#exampleModal">Apply Now</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 my-2">
        <div class="card">
          <div class="card-body d-flex">
            <div class="content">
              <h5 class="card-title">Business Development Executive</h5>
              <p>Udaipur , Rajasthan</p>
            </div>
            <div class="button">
              <button class="position-buttons" (click)="applyfun('BDE')" data-bs-toggle="modal"
                data-bs-target="#exampleModal">Apply Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container" *ngIf="showmodel2">
    <div class="row section-6">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body d-flex">
            <div class="content">
              <h5 class="card-title">Call Center Representative</h5>
              <p>Udaipur , Rajasthan</p>
            </div>
            <div class="button">
              <button class="position-buttons" (click)="applyfun('CCR')" data-bs-toggle="modal"
                data-bs-target="#exampleModal">Apply Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container" *ngIf="showmodel3">
    <div class="row section-6">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body d-flex">
            <div class="content">
              <h5 class="card-title">Senior Operation Manager</h5>
              <p>Udaipur , Rajasthan</p>
            </div>
            <div class="button">
              <button class="position-buttons" (click)="applyfunct('SOM')" data-bs-toggle="modal"
                data-bs-target="#exampleModal">Apply Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container">
    <div class="row section-8 py-2">
      <div class="col-lg-3 col-md-6 mb-2">
        <div class="image">
          <img src="assets/images/Career_images/emp-photo.jpg" style="height: 170px;" alt="jusbid">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-2">
        <div class="image">
          <img src="assets/images/Career_images/emp-photo1.jpg" style="height: 170px;" alt="jusbid">
        </div>
      </div>
      <div class="col-lg-3 col-md-6  mb-2">
        <div class="image">
          <img src="assets/images/Career_images/emp-photo2.jpg" style="height: 170px;" alt="jusbid">
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="image">
          <img src="assets/images/Career_images/emp-photo3.jpg" style="height: 170px;" alt="jusbid">
        </div>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="row section-8">
      <div class="col-lg-3 col-md-6 mb-2">
        <div class="image">
          <img src="assets/images/Career_images/event4.JPG" style="height: 170px;" alt="jusbid">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-2">
        <div class="image">
          <img src="assets/images/Career_images/event1.JPG" style="height: 170px;" alt="jusbid">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-2">
        <div class="image">
          <img src="assets/images/Career_images/event2.JPG" style="height: 170px;" alt="jusbid">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-2">
        <div class="image">
          <img src="assets/images/Career_images/event3.JPG" style="height: 170px;" alt="jusbid">
        </div>
      </div>

    </div>
  </section>

  <div class="container">
    <div class="row section-9">
      <div class="col-lg-12">
        <div class="custom_modal" *ngIf="Isshowmodel">
          <div class="card card-Showdow">
            <div class="card_header"
              style="display: flex;justify-content: space-between;align-items: center;width: 100%;">
              <div class="title">
                <h2 class="Card-title">Job Details</h2>
              </div>
              <p (click)="close()" class="cursor-pointer"><span>&#9587;</span></p>
            </div>
            <div class="body">
              <h4 class="info-career">{{data}}</h4>
              <h5 class="title-tag-career">Requirements</h5>
              <ul>
                <div *ngFor="let data of object">
                  {{data}}
                </div>
              </ul>
              <h5 class="title-tag-career">Technology Used</h5>
              <ul>
                <div *ngFor="let skill of skill">
                  {{skill}}
                </div>
              </ul>
              <div class="button">
                <a
                  href="https://forms.gle/xHq57yrQTGWa6e4Z6"><button
                    class="position-buttons">Apply Here</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row section-9">
      <div class="col-lg-12">
        <div class="custom_modal" *ngIf="Isshowmodel1">
          <div class="card card-Showdow">
            <div class="card_header"
              style="display: flex;justify-content: space-between;align-items: center;width: 100%;">
              <div class="title">
                <h2 class="Card-title">Job Details</h2>
              </div>
              <p (click)="close()" class="cursor-pointer"><span>&#9587;</span></p>
            </div>
            <div class="body">
              <h4 class="info-career">{{data}}</h4>
              <h5 class="title-tag-career">Requirements</h5>
              <ul>
                <div *ngFor="let data of object1">
                  {{data}}
                </div>
              </ul>
              <div class="button">
                <a
                  href="https://forms.gle/xHq57yrQTGWa6e4Z6"><button
                    class="position-buttons">Apply Here</button></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row section-9">
      <div class="col-12">
        <div class="custom_modal" *ngIf="Isshowmodel2">
          <div class="card card-Showdow">
            <div class="card_header"
              style="display: flex;justify-content: space-between;align-items: center;width: 100%;">
              <div class="title">
                <h2 class="Card-title">Job Details</h2>
              </div>
              <p (click)="close()" class="cursor-pointer"><span>&#9587;</span></p>
            </div>
            <div class="body">
              <h4 class="info-career">{{data}}</h4>
              <h5 class="title-tag-career">Skills</h5>
              <ul>
                <div *ngFor="let data of skill1">
                  <h6>{{data}}</h6>
                </div>
              </ul>
              <h5 class="title-tag-career">Job Responsibilities</h5>
              <ul>
                <div *ngFor="let d of object2">
                  <h6>{{d}}</h6>
                </div>
              </ul>
              <div class="button">
                <a
                  href="https://forms.gle/xHq57yrQTGWa6e4Z6"><button
                    class="position-buttons">Apply Here</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>


<main-footer></main-footer>