<main-header [header]="'main'"></main-header>
    <div class="policy">
        <div class="policy__terms">
            <div style="border-bottom: 1px solid #dedede;margin-bottom: 20px;">
                <div class="policy__hero">
                    <h1 class="policy__hero--heading" style="font-weight: bolder;">Frequently Asked Questions</h1>
                    <span class="date">Last updated: 30/06/2021</span>
                </div>
                <p style="margin: 0;padding: 0; padding-bottom: 10px;">These are the questions which are too commonly asked by the customer.
                </p>
            </div>

            <!-- Frequently Asked Questions -->
            <div style="margin-top: 30px;">
                <ul style="list-style: none;">
                    <li style="padding-bottom: 10px;">
                        <h5>1. What is Jusbid?</h5>
                        <p>Jusbid is an OTA platform with a unique bidding module to make hotel and flight booking a
                            seamless experience for customers, travel partners, and hoteliers. We offer a common
                            platform for both parties to bargain and accommodate a reasonable price transparently and
                            securely.</p>
                    </li>
                    <li style="margin-bottom: 10px;">
                        <h5>2. In how much time will the hotel be booked on Jusbid?</h5>
                        <p>You can complete this process in 30 minutes.</p>
                    </li>
                    <li style="margin-bottom: 10px;">
                        <h5>3. What are the valid ID Proofs that I should carry?</h5>
                        <p>You need to carry a valid government-issued address ID proof with a photo of the address.
                            Some
                            of the valid id proofs are: Driving License Voter ID Card Aadhar Card.
                            Passport PAN Cards are NOT Valid as ID Proofs.</p>
                    </li>
                    <li style="margin-bottom: 10px;">
                        <h5>4. If I cancel the hotel booking then how much time amount will return?</h5>
                        <p>If you cancel the hotel booking then It Depends on the hotel cancellation policy.
                        </p>
                    </li>
                </ul>
            </div>

            <!-- Payments For Booking -->
            <div style="margin-top: 50px;">
                <div style="border-bottom: 1px solid #dedede;padding-bottom: 10px;margin-bottom: 20px;">
                    <h4 style="font-weight: 900;">Payments For Booking</h4>
                </div>
                <ul style="list-style: none;">
                    <li style="margin-bottom: 10px;">
                        <h5>1. Do you charge any fees for your services?</h5>
                        <p>No, jusbid.in doesn’t charge any fees for its services. Our service is completely free of
                            charge and we will not add to your accommodation any additional fees for our service.</p>
                    </li>
                    <li style="margin-bottom: 10px;">
                        <h5>2. Why do you require my credit card details for bookings?</h5>
                        <p>jusbid.in acts as an intermediary between our clients and hotels. Your credit card details
                            are required by hotels in most cases as a guarantee for your reservation in case of late
                            cancellation or “no-show”. The hotels have a right to preauthorize your credit card so
                            please make sure that your credit card is valid. Also please note, that if you book a
                            Non-refundable room, this type of room has special conditions and your credit card will be
                            charged in advance. Please, always double-check the payment and cancellation policy of
                            the room you are interested in before you proceed with the reservation.</p>
                    </li>
                    <li style="margin-bottom: 10px;">
                        <h5>3. Is it secure to send my credit card details?</h5>
                        <p>Yes, it is secure as we are using encrypted SSL protocol in all our order forms.
                            that is the latest, most secure technology that encrypts all the details provided in
                            the order form includes your credit card details.</p>
                    </li>
                    <li style="margin-bottom: 10px;">
                        <h5>4. How do I pay for our accommodation?</h5>
                        <p>You can pay for your accommodation via Net Banking / UPI Payment.</p>
                    </li>
                </ul>
            </div>

            <!-- BOOKING CREATION -->
            <div style="margin-top: 50px;">
                <div style="border-bottom: 1px solid #dedede;padding-bottom: 10px;margin-bottom: 20px;">
                    <h4 style="font-weight: 900;">Booking Creation</h4>
                </div>
                <ul style="list-style: none;">
                    <li style="margin-bottom: 10px;">
                        <h5>1. How do I book my accommodation?</h5>
                        <p>Booking is possible only by completing the reservation form on our website. Please, select
                            the dates of your stay and the type of rooms you have chosen. The system will show you the
                            price for the accommodation (always check the room conditions). If you agree with the total
                            price and the booking conditions, just click on the red button "Book now" and the
                            reservation form will show up. Once you finish the order form and click on the button "Book
                            now", your
                            reservation will be confirmed shortly to your email address.</p>
                    </li>
                    <li style="margin-bottom: 10px;">
                        <h5>2. How do I know that my booking is confirmed?</h5>
                        <p>After completing and sending us your order form, you will get an automatic receipt email
                            containing your order number. Within 30 minutes, you will receive Accommodation
                            confirmation. The Accommodation confirmation serves you as a voucher, so please carry it
                            with you as it contains all the vital details (address of your hotel, contact phone numbers,
                            and other instructions). In case that you requested in your order form any special requests
                            –
                            extra bed, non-smoking room, parking, etc.</p>
                    </li>
                    <li style="margin-bottom: 10px;">
                        <h5>3. Can I book your services by telephone, email, or fax?</h5>
                        <p>Unfortunately not. If you wish to make a booking, please fill in the order form on our
                            website.</p>
                    </li>
                    <li style="margin-bottom: 10px;">
                        <h5>4. I made a reservation but did not receive any confirmation. What should I do?</h5>
                        <p>Before finalizing your reservation please double-check your e-mail address because a mistake
                            in the e-mail address is the most common reason why our clients do not receive their
                            confirmations. In some cases, our e-mails can also end up in the “spam folder” so please
                            check it as well. In any case, please try to contact us by e-mail or call center as we will
                            be very happy to assist you and solve the problem as soon as possible.</p>
                    </li>
                    <li style="margin-bottom: 10px;">
                        <h5>5. How many rooms can I book at once?</h5>
                        <p>You can book as many rooms as are available for the selected period.</p>
                    </li>
                </ul>
            </div>


            <!-- BOOKING CANCELLATION -->
            <div style="margin-top: 50px;">
                <div style="border-bottom: 1px solid #dedede;padding-bottom: 10px;margin-bottom: 20px;">
                    <h4 style="font-weight: 900;">Booking Cancellation</h4>
                </div>
                <ul style="list-style: none;">
                    <li style="margin-bottom: 10px;">
                        <h5>1. How do I cancel my booking?</h5>
                        <p>Please click on the link provided in the Accommodation confirmation and cancel your
                            reservation.</p>
                    </li>
                    <li style="margin-bottom: 10px;">
                        <h5>2. How do I know that the reservation was canceled?</h5>
                        <p>When your reservation is canceled, you will get a cancellation confirmation from us. If you
                            don’t hear back from us in 30 minutes, please get in touch with us by some other means
                            (e-mail pr call center).</p>
                    </li>
                    <li style="margin-bottom: 10px;">
                        <h5>3. I made a cancellation but did not receive any confirmation. What should I do?</h5>
                        <p>Before finalizing your reservation, please double-check your e-mail address because a mistake
                            in the e-mail address is the most common reason why our clients do not receive their
                            confirmations. In some cases, our e-mails can also end up in the “spam folder” so please
                            check it as well. In any case, please try to contact us by e-mail as we will be very happy
                            to assist you and solve the problem as soon as possible.</p>
                    </li>
                    <li style="margin-bottom: 10px;">
                        <h5>4. What cancellation conditions do you have? When at the latest can I change the booking
                            without being charged any fee?</h5>
                        <p>Each room has its cancellation policy and for this information always check the room
                            conditions. Generally, your reservation can be canceled or changed a few days before your
                            arrival. However, there are some exceptions - for example, "Non-Refundable“ or "Special
                            conditions“ rooms. You can check the room policy if you click on the room type.</p>
                    </li>
                </ul>
            </div>
            <!-- PAYMENTS/REFUNDS/INVOICES -->
            <div style="margin-top: 50px;">
                <div style="border-bottom: 1px solid #dedede;padding-bottom: 10px;margin-bottom: 20px;">
                    <h4 style="font-weight: 900;">Payments/Refunds/Invoices</h4>
                </div>
                <ul style="list-style: none;">
                    <li style="margin-bottom: 10px;">
                        <h5>1. Are fees and taxes included in prices?</h5>
                        <p>No GST will be added with a price. It will be charged separately.</p>
                    </li>
                    <li style="margin-bottom: 10px;">
                        <h5>2. My credit card has been charged by the hotel though I changed/canceled my reservation in
                            time. How can I get a refund?</h5>
                        <p>As Per the cancellation policy credit card will be charged.</p>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <main-footer></main-footer>