.verify-div{
    background-color: #FEE5E1;
    height: 100%;
    .Verify_container{
        width: 700px;
    }
}

@media(max-width:425px){
    .verify-div{
        .Verify_container{
            width: 100%;
        }
    }
}