<div class="verify-div">
    <div class="container Verify_container" style="overflow: hidden;">
        <div class="form_div"
            style="margin: auto; padding: 20px; border-radius: 5px; margin-top: 200px; box-shadow: 0 0.135rem 0.30rem rgb(0 0 0 / 8%); background-color: #fff;">
            <h5 class="text-center" style="font-weight: 600;">Verify Your Password</h5>
            <form action="" #matchpassword="ngForm" (submit)="match_password(matchpassword)" autocomplete="off">
                <label for="" style="color: #000; font-weight: 600; font-size: 15px;">Password</label>
                <input type="password" name="pswd1" id="pswd1" autocomplete="off" minlength="6" class="form-control"
                    placeholder="*******" ngModel>
                <label for="" style="color: #000; font-weight: 600; margin-top: 5px; font-size: 15px;">Confirm Password</label>
                <input type="password" name="pswd2" id="pswd1" autocomplete="off" minlength="6" class="form-control"
                    placeholder="*******" ngModel>
                <div style="margin-top: 10px; text-align: center;">
                    <button class="btn btn-danger" type="submit">Verify Your Password</button>
                </div>
            </form>
        </div>
    </div>
</div>