<main-header [header]="'main'"></main-header>
<section class="container-fluid">
  <div class="contact-form py-5">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="form">
          <form action="/" method="get">
            <h1>Contact Form</h1>
            <div class="first-col">
              <div class="row">
                <div class="col-lg-6">
                  <label for="text"><strong>FIRST NAME*</strong></label>
                  <input type="text" class="form-control" placeholder="First Name" name="fname" id="fname" required>
                </div>
                <div class="col-lg-6">
                  <label for="text" class="label-2"><strong>LAST NAME*</strong> </label>
                  <input type="text" class="form-control" placeholder="Last Name" name="lname" id="lname" required>
                </div>
              </div>
            </div><br>
            <div class="Email">
              <label for="Email" class="Email"><strong>EMAIL*</strong></label>
              <input type="email" class="form-control" placeholder="Email" name="Email" id="Email" required>
            </div>
            <br>
            <div class="Message">
              <label for="Message" class="Message"><strong>MESSAGE*</strong></label>
              <input type="text" class="form-control" placeholder="Message" name="Message" id="message" required>
            </div>
            <br>
            <div class="Additional_Details">
              <label for="Additional_Details" class="Additional_Details"><strong>ADDITIONAL
                  DETAILS*</strong></label>
              <textarea class="form-control" rows="4" placeholder="Additional Details" name="Additional"
                id="additional"></textarea>
            </div>
            <br>
            <div class="send-message mt-3">
              <button type="submit" class="btn btn-primary py-md-2 px-5 w-auto">Send Message</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="content">
          <div class="demo">
            <h2>How JusBid works?</h2>
            <p>JusBid provides hotel rooms and MICE services based on the
              bidding
              process. If you are a
              hotelier, you can earn income on your unused inventory, and if you are a customer, you can
              get
              hotel rooms at a lower price. </p><br>
          </div>
          <div class="demo">
            <h4>1. How to Book a hotel room?</h4>
            <p style="font-size: 0.9rem;">Open the site/app and look for the desired hotel. Make a bid. If
              you are booking a hotel on
              an
              instant basis, the hotel will confirm your booking bid within half an hour. When confirmed,
              the
              room is yours for the desired date and time.</p>
            <hr>
          </div>
          <div class="demo">
            <h4>2. How to Book a hotel room in advance? </h4>
            <p style="font-size: 0.9rem;">Now you can book a hotel more than three days before your stay.
              For that, you have to look
              for
              the hotel and place a bid. The maximum period a hotel will take to confirm your bid is two
              days.
              When they confirm the bid, you can book the stay well in advance.</p>
            <hr>
          </div>
          <div class="demo">
            <h4>3. What if my bid gets cancelled?</h4>
            <p style="font-size: 0.9rem;">In this bidding system, the hotel
              can reject your bid if it is not satisfied with the price.
              In
              this case, you can place a bid again on a higher price or look for another hotel. We provide
              plenty of hotel rooms to book.
            </p>
            <hr>
          </div>
        </div>

        <div class="contact-info ">
          <h5>More Information for you</h5>
          <div class="information">
            <div class="internet">
              <a href="mailto:info@jusbid.in"><img src="assets/images/contact_us_form/glob.png" alt=""
                  curser-pointer>
              <p class="py-2 contact-internet">info@jusbid.in</p></a>
            </div>

            <div class="location">
              <img src="assets/images/contact_us_form/location.png" alt="">
              <p class="py-2 contact-location">4 C, Trident Hotel Road, Haridas Ji Ki Magri, Shavri Colony, Udaipur Rajasthan</p>
            </div>


            <div class="contact">
              <a href="tel:917414833999">
              <img src="assets/images/contact_us_form/phone.png" alt="">
                <p class="py-2 contact-contact">+91- 74148 33 999</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<main-footer></main-footer>