<main-header [header]="'main'"></main-header>
<section>
    <div class="policy">
        <div class="policy__terms">
          <div class="policy__hero">
            <h1 class="policy__hero--heading">BUSINESS PARTNER AGREEMENT</h1>
            <span>Last updated: 18/10/2021</span>
          </div>
          <p style="padding-top: 30px;">This Business Partner Agreement (hereinafter referred to as “Agreement”) is signed
            by and between
            <b>RUDROHOM COMTRADE PRIVATE LIMITED</b>, having its registered office at 4-C Haridas Ji Ki Magri,
            Hotel Trident Road, Udaipur 313001 (hereinafter referred to as <b>“Rudrohom”</b>) and the individual or entity
            intending to download, enter into or otherwise use the Agreement (hereinafter referred to as the <b>“Business
              Affiliate”). Rudrohom and Business Affiliate</b> shall individually be referred to as Party and jointly be
            referred
            to as Parties.
          </p>
          <p style="padding-top: 20px;">RUDROHOM PROVIDES THE ACCESS TO AND SERVICES OF ITS WEBSITE AND MOBILE BASED
            APPLICATION <b>“JusBid” (“PLATFORM”)</b> SOLELY ON THE TERMS AND CONDITIONS SET FORTH
            IN THIS AGREEMENT AND ON THE CONDITION THAT BUSINESS AFFILIATE ACCEPTS AND
            COMPLIES WITH THEM. THE PLATFORM OPERATES ON AN BIDDING MODEL WHEREBY IN
            ORDER TO ENSURE THE BOOKINGS, THE GUEST IS REQUIRED TO BID FOR THE SAME AND
            AWAIT A CONFIRMATION ON THE BID FROM THE BUSINESS AFFILIATE. BY CLICKING THE
            “ACCEPT” BUTTON BELOW, AND/OR BY DOWNLOADING, ENTERING INTO OR OTHERWISE
            USING THE SERVICES PROVIDED BY THE WEBSITE FOR A “BUSINESS AFFILIATE”, THE
            BUSINESS AFFILIATE (A) ACCEPTS THIS AGREEMENT AND AGREES THAT BUSINESS
            AFFILIATE IS LEGALLY BOUND BY ITS TERMS; AND (B) REPRESENTS AND WARRANTS THAT:
            (I) IF IN CASE OF AN INDIVIDUAL, BUSINESS AFFILIATE IS 18 (EIGHTEEN) YEARS OF AGE OR
            OLDER; AND (II) BUSINESS AFFILIATE HAS THE RIGHT, POWER AND AUTHORITY TO ENTER
            INTO THIS AGREEMENT AND BIND BUSINESS AFFILIATE TO THE TERMS SPECIFIED HEREIN.
            IF BUSINESS AFFILIATE DOES NOT AGREE TO THE TERMS OF THIS AGREEMENT, RUDROHOM
            WILL NOT AND DOES NOT ENTER INTO A PARTNERSHIP WITH THE BUSINESS AFFILIATE AND
            BUSINESS AFFILIATE SHALL NOT HAVE ACCESS TO THE SERVICES PROVIDED BY THE
            WEBSITE <b>JusBid.</b></p>
        </div>
    
    
        <div style="margin-top: 50px;">
          <p>The Business Affiliate understands and agrees to the following:
          </p>
          <div style="border-bottom: 1px solid #dedede;padding-bottom: 10px;margin-bottom: 20px;margin-top: 10px;">
            <h2>DEFINITIONS AND INTERPRETATIONS</h2>
          </div>
          <ul style="list-style: none;">
            <li style="margin-bottom: 10px;">
              <ul>
                <li style="margin-bottom: 20px;">
                  <h3> Definitions</h3>
                  <p style="margin-top: 20px;">In this Agreement, unless the context otherwise requires, the following terms
                    shall
                    have the following
                    meaning, as ascribed to them herein below:</p>
                  <ul style="padding: 10px 40px;">
                    <li style="margin-bottom: 20px;"><b>“Accommodation”</b> means any form of accommodation, including but
                      not
                      limited to
                      hotels, motels, guest houses, bed & breakfasts, hostels, villa's, apartments (serviced or
                      otherwise), lodges, inn, guest accommodation, resort, condominium, camping
                      accommodation and any other (type of) accommodation or lodging provider (whether
                      or not available on JusBid).
                    </li>
                    <li style="margin-bottom: 20px;"><b>“Applicable Laws”</b> means all state and local laws, statutes,
                      enactments, acts of
                      legislature, notifications, guidelines, governmental orders, by-laws, notifications,
                      guidelines, policies, directions, directives, ordinances, rules and regulations, judicial
                      precedents/order of any government, statutory authority, tribunal, board,
                      court, society, organization and/or association including without limitation privacy
                      and data security laws and standards, with which the Parties must comply with
                      while discharging their obligations under this Agreement.
                    </li>
                    <li style="margin-bottom: 20px;"><b>“Business”</b> shall mean the business of Rudrohom.
                    </li>
                    <li style="margin-bottom: 20px;"><b>“Business Day”</b> means any day when banks are open for business in
                      Rajasthan,
                      India for doing Business.
                    </li>
                    <li style="margin-bottom: 20px;"><b>“Commission”</b> means the amount in INR (excluding taxes) that
                      Rudrohom will
                      receive from the Business Affiliate for each successful Service in accordance with
                      this Agreement.
                    </li>
                    <li style="margin-bottom: 20px;"><b>“Confidential Information” </b> shall mean any and all information
                      relating to the
                      business, organization and operations of either Party as well as any and all
                      information relating to the business, organization and operations of the clients of
                      either Party which may be disclosed by either Party (the <b>“Disclosing Party”</b>) to the
                      other Party (the <b>“Receiving Party”</b>), including but not limited to any proprietary
                      information, secret information, trade secrets, financial information, business or
                      technical data or know-how, domain knowledge, case studies, internal process
                      documents, prototype concepts, client lists, specifications, software programs,
                      source codes, and other documents and any other material bearing or incorporating
                      any such information which is disclosed by the Disclosing Party to the Receiving
                      Party, its employees, agents and / or representatives, or prepared by the Receiving
                      Party, its employees, agents and/or representatives on the basis of information
                      supplied by the Disclosing Party, or obtained by the Receiving Party, its employees,
                      agents and / or representatives in course of providing or availing the services
                      hereunder, whether such information pertains to the Disclosing Party or its
                      subsidiaries/associates/holding company or its business associates or clients.
                    </li>
                    <li style="margin-bottom: 20px;"><b>"Customer Data"</b> means the Guest's personally identifiable
                      information (“PII”),
                      including but not limited to the Guest’s name, address (including email address),
                      credit card details and such other confidential and private information of aGuest.
                    </li>
                    <li style="margin-bottom: 20px;"><b>"Guest"</b> means a visitor of the Platform that has successfully
                      completed the bidding
                      process on the Platform.
                    </li>
                    <li style="margin-bottom: 20px;"><b>“Intellectual Property” </b> means any patent, copyright,
                      inventions, database rights,
                      design right, registered design, trade mark, trade name, brand, logos, service mark,
                      know-how, utility model, unregistered design, ideas, concepts, creations,
                      discoveries, improvements, trade or business secrets, tools, devices, models,
                      methods, procedures, processes, systems, principles, algorithms, works of
                      authorship, flowcharts, drawings, books, papers, models, sketches, formulas,
                      teaching techniques, electronic codes, proprietary techniques, research projects,
                      and other confidential and proprietary information, computer programming code,
                      databases, software programs, data, documents, instruction manuals, records,
                      memoranda, notes, title of the content, audio visuals, images, textual articles, user
                      guides; in either printed or machine-readable form, whether or not copyrightable or
                      patentable, or any written or verbal instructions or comments owned by any party
                      or, where relevant, any application for any such right, know-how, trade or business
                      name, domain name (with whatever (country code) top-level domain, e.g. .in, .com,
                      .net., co.in, etc.) or other similar right or obligation whether registered or
                      unregistered or other industrial or intellectual property right subsisting in any
                      territory or jurisdiction in the world.
                    </li>
                    <li style="margin-bottom: 20px;"><b>“JusBid”</b> means the platform, in the form of website/
                      application, owned,
                      controlled, hosted and operated by Rudrohom on which the Service shall be made
                      available, on such terms and conditions as specified on JusBid.
                    </li>
                    <li style="margin-bottom: 20px;"><b>“Link”</b> means the link of JusBid available either at the Business
                      Affiliate website
                      or any third party website, through which the visitor or Guest can initiate the
                      bidding process.
                    </li>
                    <li style="margin-bottom: 20px;"><b>“Service”</b> means an initiative provided by Rudrohom in
                      association with the
                      Business Affiliate, wherein a visitor will visit JusBid and participate in thebidding
                      process and initiate the bid with respect to the reservation of a room with a hotel,
                      resort, etc. of the Business Affiliate.
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
    
    
        <div style="margin-top: 50px;">
          <div style="border-bottom: 1px solid #dedede;padding-bottom: 10px;margin-bottom: 20px;margin-top: 10px;">
            <h2>NO PARTNERSHIP</h2>
          </div>
          <ul style="list-style: none;">
            <li style="margin-bottom: 10px;">
              <ul>
                <li style="margin-bottom: 20px;">
                  This Agreement is not intended, nor should anything herein or in any of the arrangements
                  contemplated herein, be construed, to create a joint venture or the relationship of partners,
                  partnership or principal and agent between or among the Parties. Unless the Parties agree
                  otherwise in writing, none of them shall (i) enter into any contract or commitment with
                  third parties as agent for or on behalf of the other Party, (ii) describe or present itself as
                  such an agent or in any way hold itself out as being such an agent, or (iii) act on behalf of
                  or represent the other Party in any manner, or for any purpose.
                </li>
                <li style="margin-bottom: 20px;">
                  The Business Affiliate shall not publish anywhere any statement, either express or implied,
                  that JusBid is part of, endorsed by, or an official website of Business Affiliate.
                </li>
              </ul>
            </li>
          </ul>
        </div>
    
    
        <div style="margin-top: 50px;">
          <div style="border-bottom: 1px solid #dedede;padding-bottom: 10px;margin-bottom: 20px;margin-top: 10px;">
            <h2>SCOPE OF SERVICE</h2>
          </div>
          <ul style="list-style: none;">
            <li style="margin-bottom: 10px;">
              <ul>
                <li style="margin-bottom: 20px;">
                  <h3><u>Non-Exclusivity </u>-</h3>
                </li>
                <ul style="padding: 10px 40px;">
                  <li style="margin-bottom: 20px;">
                    This Agreement is a nonexclusive business partnership agreement
                    signed between by the Business Affiliate and Rudrohom.
                  </li>
                </ul>
              </ul>
            </li>
          </ul>
    
    
          <ul style="list-style: none;">
            <li style="margin-bottom: 10px;">
              <ul>
                <li style="margin-bottom:20px;">
                  <h3><u>Engagement</u></h3>
                </li>
                <ul style="padding: 10px 40px;">
                  <li style="margin-bottom: 20px;">
                    The Service shall be made available by Rudrohom to the Business Affiliate on
                    JusBid, where when a bid is made by a visitor through JusBid, a confirmation mail
                    will be sent from JusBid server to the Business Affiliate regarding the registration
                    of a particular bid with the relevant details of the visitor who completed the bid of
                    the hotel (e.g. the bid id, date of arrival & departure, number of days ofstay, number
                    of guest(adult/children), price of the bid. Thereafter, at the time of check-in, the
                    Guest may be asked to present his valid photo ID card or such any other document
                    as the Business Affiliate may deem necessary, in order to complete the check-in
                    procedure.
                  </li>
                  <li style="margin-bottom: 20px;">
                    The Service shall include customer services to and for the benefit of the Guests.
                    The Business Affiliate shall promptly refer and/or forward all customer servicerelated issues and
                    questions in respect of the Service, (the consummation of) the
                    booking (including any amendment or cancellation of the booking), the hotel and
                    all other relevant (payment) issues, complaints and questions directly to the
                    customer service center of Rudrohom and not provide any further services in this
                    respect.
                  </li>
                  <li style="margin-bottom: 20px;">
                    Once the Business Affiliate is satisfied by the bid received through the Platform, it
                    shall be obligated to respond to the same, within the time period as specified by
                    Rudrohom upon receiving the mail of the bid. Upon receipt of the bid, the Business
                    Affiliate shall either:
                  </li>
                  <ul style="padding-left: 80px;">
                    <p style="margin-bottom: 20px;">&#8594; <b>Accept:</b> by confirming the bid through an e-mail and/or
                      message to
                      the
                      Guest by providing relevant booking details; or
                    </p>
    
                    <p style="margin-bottom: 20px;">&#8594; <b>Reject:</b> by rejecting the bid through an e-mail and/or
                      message to
                      the Guest
                      providing appropriate reason for such rejection; or
                    </p>
    
                    <p style="margin-bottom: 20px;">&#8594; <b>Hold:</b> by putting on hold the bid for a maximum time as
                      specified
                      by
                      Rudrohom and may further accept/reject the bid thereafter.
                    </p>
                  </ul>
                  <li style="margin-bottom: 20px;">
                    It is however clarified that if no response is received from the Business Affiliate
                    within the time period as specified by Rudrohom upon receiving the email from
                    Rudrohom, the bid shall be categorized as a missed bid (Miss SLA) and in the event
                    the Business Affiliate intends to accept a missed bid, it shall contact Rudrohom for
                    the same.
                  </li>
                  <li style="margin-bottom: 20px;">
                    Upon receipt of the confirmation of the booking from the Business Affiliate, Rudrohom will
                    send an e-mail to the Guest which will consist a URL, where the Guest can make payments
                    confirming their reservation of the successful bid within such time period as may be
                    mentioned in the confirmation mail.
                  </li>
                  <li style="margin-bottom: 20px;">
                    <b>Link -</b>The Service is made available through JusBid, and the Business Affiliate shall at its
                    own costs integrate and make the Link available at such prominent place(s), web-pages and
                    in such place, size and form on its own website(s) as instructed by JusBid or as mutually
                    agreed upon by Parties, from time to time.
                  </li>
                  <li style="margin-bottom: 20px;">
                    <b>Cancellation -</b>In the event the Guest intends to cancel his booking/reservation, he may be
                    entitled to do the same in accordance with the cancellation policy, which the Business
                    Affiliate shall provide at the time of confirmation of the booking/acceptance of the bid.
                  </li>
                </ul>
              </ul>
            </li>
          </ul>
        </div>
    
    
        <div style="margin-top: 40px;">
          <div style="border-bottom: 1px solid #dedede;padding-bottom: 10px;margin-bottom: 20px;margin-top: 10px;">
            <h2>COMMISSION AND MANNER OF PAYMENT</h2>
          </div>
          <ul style="list-style: none;">
            <li style="margin-bottom: 10px;">
              <ul>
                <li style="margin-bottom: 20px;">
                  Rudrohom shall remit the booking payments to the Business Affiliate after deduction of
                  adequate commission, in such manner as specified in Schedule I, attached herewith.
                </li>
              </ul>
            </li>
          </ul>
        </div>
    
        <div style="margin-top: 40px;">
          <div style="border-bottom: 1px solid #dedede;padding-bottom: 10px;margin-bottom: 20px;margin-top: 10px;">
            <h2>LICENSE</h2>
          </div>
          <ul style="list-style: none;">
            <li style="margin-bottom: 10px;">
              <ul>
                <li style="margin-bottom: 20px;">
                  <b>Mutual License -</b> Subject to and conditioned upon Business Affiliate 's strict compliance
                  with all of the terms and conditions set forth in this Agreement, Rudrohom hereby grants
                  the Business Affiliate a non-exclusive, revocable, restricted, royalty free and worldwide
                  right and license (a) to display such elements of the JusBid data and such further
                  information of the hotels on the Business Affiliate website(s), all as provided or made
                  available by Rudrohom to the Business Affiliate; and (b) to promote and market the Service
                  subject to the terms set out in this Agreement
                </li>
    
                <p>The Business Affiliate hereby grants Rudrohom a royalty free and worldwide right and
                  license (a) to incorporate, integrate, include and display the Link, on the Business Affiliate
                  website(s), and (b) to make the Service available on the Business Affiliate website(s).</p>
    
                <li style="margin-bottom: 20px; margin-top: 20px;">
                  <b>No Sublicense right and non- disclosure -</b> the Business Affiliate shall not (i) be entitled
                  to sublicense the rights granted to it under Clause 5.25.1, or (ii) hyperlink to the Business
                  Affiliate website via or in collaboration with (the websites of) companies of any third party.
                  The Business Affiliate shall not directly or indirectly be entitled to sell, use, transfer,
                  (sub)license, communicate, disclose, make available, allow access to, divulge or otherwise
                  disseminate the JusBid data or the content (i) to any third party, (ii) for price/availability
                  comparison purposes, sites, reviews or investigations, (iii) for any other purpose other than
                  (generating hotel reservations through) the Service, or (iv) otherwise.
                </li>
              </ul>
            </li>
          </ul>
        </div>
    
        <div style="margin-top: 40px;">
          <div style="border-bottom: 1px solid #dedede;padding-bottom: 10px;margin-bottom: 20px;margin-top: 10px;">
            <h2>REPRESENTATIONS AND WARRANTIES</h2>
          </div>
          <p>The Business Affiliate hereby represents and warrants that:</p>
          <ul style="list-style: none;">
            <li style="margin-bottom: 10px;">
              <ul>
                <li style="margin-bottom:20px; margin-top: 10px;">
                  The Business Affiliate agrees to use commercially reasonable endeavors to (i) customize
                  the Business Affiliate website(s) and integrate the Link, in such a way as to generate as
                  much traffic as possible to JusBid or the Business Affiliate website(s), and (ii) promote and
                  market the hotels and the option to book hotels on JusBid and/or the Business Affiliate
                  website(s) within its commercial and internal network and for this purpose shall make its
                  distribution network and channels (e.g. its internet and intranet) available.
                </li>
                <li style="margin-bottom: 20px;">
                  It shall not cause or permit to be done anything which may cause Rudrohom to be excluded
                  from the process ofbooking with any hotel, moreover, the Business Affiliate shall not in a
                  negative or detrimental way speak (i.e. badmouth) of or comment on (the business of)
                  Rudrohom and/or JusBid (or itsstaff or ) and shall not persuade, induce or attempt to induce
                  any hotel to terminate its contract with or reduce its dealings and business with Rudrohom,
                  in any manner whatsoever.
                </li>
                <li style="margin-bottom: 20px;">
                  It shall not communicate with any third party in respect of (consumed) bookings/biddings
                  made through the Link and/ or Platform or for any customer service in respect of such
                  biddings.
                </li>
                <li style="margin-bottom: 20px;">
                  It shall duly and diligently maintain and adjust the contents of its website and shall keep
                  Rudrohom up-to-date and accurate with respect to the same. The Business Affiliate shall
                  promptly correct any errors or omissions on its website and in the information relating to
                  the hotels after becoming aware of such errors or being notified by Rudrohom as the case
                  may be.
                </li>
                <li style="margin-bottom: 20px;">
                  It shall with utmost care and diligence, maintain and update the webpage/portal directed
                  through a unique link as provided by Rudrohom wherein it shall login with the user ID and
                  password provided by Rudrohom in order to review and manage the bids/reservations,
                  booking history, booking status and other such affairs relating to the bids/reservations
                  accepted, rejected or put on hold by such Business Affiliate.
                </li>
                <li style="margin-bottom: 20px;">
                  Any biddings with any hotel made by the visitor through JusBid are subject to the terms of
                  use which may be updated from time to time on JusBid. For the avoidance of doubt, the
                  Business Affiliate shall not use JusBid or its contents for any commercial purpose except
                  for the purpose of and subject to the terms of conditions of this Agreement.
                </li>
                <li style="margin-bottom: 20px;">
                  By uploading photos/images onto JusBid, the Business Affiliate certifies, warrants and
                  agrees that it owns the copyright to the photos/images and that it also agreesthat Rudrohom
                  may use the uploaded photos/images on JusBid for promotional materials and publications
                  and at its discretion as it deems fit. Business Affiliate grants Rudrohom a non-exclusive,
                  worldwide, irrevocable, unconditional, perpetual right and license to use, reproduce,
                  display, have reproduced, distribute, sublicense, communicate and make available the
                  photos/images at its discretion.
                </li>
                <li style="margin-bottom: 20px;">
                  The Business Affiliate shall not (a) programmatically evaluate and extract information
                  (including Guest reviews) from any part of JusBid (e.g. screen scrape) or attempt to do so
                  and shall not, by any means, including, but not limited to, mechanical, electronic,
                  photocopying, recording or otherwise, copy, reproduce, modify, alter, adapt, disassemble,
                  reverse engineer, scrape, or otherwise determine the source code of (or underlying ideas,
                  algorithms, structure or organization of) the links or any content contained on or services
                  provided by JusBid or attempt to do so; (b) upload (i) any virus, Trojan horse, worm, time
                  bomb, robot commands or other computer programming routines that are intended to
                  damage, detrimentally interfere with, surreptitiously intercept or expropriate any system,
                  data or personal information; (c) make any representations to visitors, to the general public
                  or to any other party related in any way to Rudrohom, the Services, the links or JusBid; (d)
                  (attempt to) obtain credit or Commissions from Rudrohom by misrepresentation, making
                  false statements, fraudulent behavior or any other scheme or trick to deceive Rudrohom; or
                  (e) otherwise (attempt to) cause detriment to Rudrohom and JusBid. Any violation of the
                  aforesaid provisions will lead to the Affiliate being terminated from the program and to
                  forfeiture of any outstanding payments due.
                </li>
                <li style="margin-bottom: 20px;">
                  The Business Affiliate agrees and acknowledges that the restrictive covenants,
                  undertakings, commitments, obligations and restrictions set out in this Clause 6 are
                  reasonable and of material importance to Rudrohom, in particular for (i) its willingness to
                  enter into this Agreement with the Business Affiliate and make the Service, the content and
                  the Rudrohom Intellectual Property Rights (directly or indirectly) available to the Business
                  Affiliate, and (ii) the protection of goodwill, product, service and (market) reputation of
                  Rudrohom. Furthermore, the Business Affiliate agrees and acknowledges that all
                  covenants, undertakings, commitments, warranties, obligations and restrictions set out in
                  this Clause 6 shall (a) be promptly, duly and diligently complied with by the Business
                  Affiliate, and (b) also apply in respect of any person with access to the partner center
                  through the user ID of the Business Affiliate, any person reasonably believed to be
                  representing the Business Affiliate, and the companies within the Business Affiliate group.
                  The Business Affiliate shall procure, warrant and undertake that any person who has access
                  to the partner center through the user ID of the Business Affiliate, any person reasonably
                  believed to be representing the Business Affiliate, and the companies within the Affiliate
                  group shall observe, adhere to, comply with and act in accordance with the terms and
                  conditions set out in this Clause 6.
                </li>
              </ul>
            </li>
          </ul>
        </div>
    
    
        <div style="margin-top: 40px;">
          <div style="border-bottom: 1px solid #dedede;padding-bottom: 10px;margin-bottom: 20px;margin-top: 10px;">
            <h2>INTELLECTUAL PROPERTY RIGHTS</h2>
          </div>
          <ul style="list-style: none;">
            <li style="margin-bottom: 10px;">
              <ul>
                <li style="margin-bottom: 20px;">
                  Rudrohom and/or its licensors shall retain ownership of all rights, title and interest in and
                  to all Intellectual Property Rights of Rudrohom or embodied in JusBid, including (but not
                  limited to) the Rudrohom/ JusBid logo, the content and the Rudrohom/ JusBid data.
                  Nothing contained in this Agreement shall be deemed to transfer any such right, title or
                  interest to the Business Affiliate in any way.
                </li>
                <li style="margin-bottom: 20px;">
                  The Business Affiliate shall not disclose, integrate, include, use, combine, exploit,
                  incorporate or otherwise make the content and Rudrohom/ JusBid data (or any part thereof)
                  available (a) with its own content and/or the content of any Rudrohom competitor
                  (including the hotels), or (b) to or for the benefit of (i) itself (save for enabling the Service
                  and the system in accordance with the terms of this Agreement), or (ii) any Rudrohom
                  competitor (including the hotels) (whether for the promotion of, marketing of, reference to,
                  promotion of, advertising of or otherwise in the interest of or to such party), or (c) for any
                  other purpose or in any other manner and/or on or through Third Party platforms except as
                  expressly provided for in this Agreement. The Business Affiliate shall not amend, alter,
                  modify, distort, create derivative and/or new works based on and/or derived from the
                  content and the content shall not include a (direct or indirect) link, reference, click-through
                  or reference to (the website of) a Rudrohom competitor (including the hotels).
                </li>
                <li style="margin-bottom: 20px;">
                  The Business Affiliate shall (and shall procure that the companies within the Business
                  Affiliate group shall) not, directly or indirectly, register, acquire, use, purchase or obtain
                  Internet domain name which incorporates any word or words which are identical, or
                  confusingly or substantially similar to "Rudrohom", “JusBid” or any variations,
                  translations or misspellings thereof, included as part of the address.
                </li>
                <li style="margin-bottom: 20px;">
                  Rudrohom does not (explicitly or tacitly) waive or forfeit any of its rights to which it is
                  entitled by any law, contract or otherwise (now or in the future) in respect of the Rudrohom
                  Intellectual Property Rights vis-à-vis the Business Affiliate or other third parties.
                </li>
                <li style="margin-bottom: 20px;">
                  Notwithstanding the termination of this Agreement for any reason whatsoever, the
                  provisions of this Clause 7 shall continue to bind the Parties after such termination for a
                  period in perpetuity.
                </li>
              </ul>
            </li>
          </ul>
        </div>
    
        <div style="margin-top: 40px;">
          <div style="border-bottom: 1px solid #dedede;padding-bottom: 10px;margin-bottom: 20px;margin-top: 10px;">
            <h2>CONFIDENTIAL INFORMATION</h2>
          </div>
          <ul style="list-style: none;">
            <li style="margin-bottom: 10px;">
              <ul>
                <li style="margin-bottom: 20px;">
                  <b>Confidential Information –</b> Business Affiliate shall not divulge, publish or disseminate,
                  or in any manner disclose to any third party, any of the terms and conditions of this
                  Agreement or any other Confidential Information received from Rudrohom. Business
                  Affiliate acknowledges and agrees that any breach or threatened breach of this clause shall
                  be considered as breach of this Agreement in terms of Clause 10 (Termination) and as a
                  result may cause Rudrohom irreparable harm or damage and in addition to all other
                  remedies available, Rudrohom may be entitled to relief in equity with the necessary proof
                  of actual damage.
                </li>
                <li style="margin-bottom: 20px;">
                  <b>Customer Data -</b> The Business Affiliate shall use commercially reasonable efforts to
                  safeguard the confidentiality and privacy of customer data including but not limited to
                  customer’s personal identifiable information, booking details, bidding details, price details,
                  customer preferences or business prototype, and to protect it from unauthorized use or
                  release. The Business Affiliate agrees to comply with applicable laws on the processing of
                  personal data and the protection of privacy. The Business Affiliate will at all times use
                  reasonable and appropriate security measures to prevent corruption of and unauthorized
                  access to customer data. Such measures will include, among other things, data encryption
                  and channel encryption. Where relevant, the Business Affiliate must notify Rudrohom of
                  any security breach as promptly as possible, not later than 1 (one) day after discovering the
                  breach. The Business Affiliate shall have a privacy policy accessible to customers that
                  describes the manner in which it protects and uses customer data.
                </li>
                <li style="margin-bottom: 20px;">
                  <b>Reasonable Care -</b> The Business Affiliate agrees to employ the same care (which shall in
                  all cases be at least reasonable care) and discretion with respect to Confidential Information
                  of the Disclosing Party that it employs with similar confidential or proprietary information
                  of its own which it does not desire to disclose, publish or disseminate.
                </li>
                <li style="margin-bottom: 20px;">
                  <b>Need to Know -</b> The Business Affiliate shall limit use and access to such Confidential
                  Information to only its employees, agents and contractors whose use or access is necessary
                  to execute this Agreement and who are bound by obligations with regards to Confidential
                  Information consistent with this Agreement.
                </li>
                <li style="margin-bottom: 20px;">
                  <b>Exceptions -</b> The obligations specified in this Clause will not apply to any information:
                </li>
                <ul style="padding: 10px 40px;">
                  <li style="margin-bottom: 20px;">that is disclosed with the prior written consent of the Rudrohom; or
                  </li>
                  <li style="margin-bottom: 20px;">that the Business Affiliate may disclose Confidential Information as
                    required to
                    comply with Applicable Laws or orders of any judicial and/or governmental
                    authorities that have jurisdiction over it. The Receiving Party will immediately give
                    a written notice of such order (if permitted by the Applicable Law or order) to
                    Rudrohom and shall disclose only that necessary part of the Confidential
                    Information which it is legally required to disclose and take reasonable care to
                    minimize the extent of such disclosure.
                  </li>
                </ul>
                <li style="margin-bottom: 20px;">
                  The obligations set out in this Clause 8 shall survive the termination or expiry of the
                  Agreement, howsoever caused.
                </li>
              </ul>
            </li>
          </ul>
        </div>
    
        <div style="margin-top: 40px;">
          <div style="border-bottom: 1px solid #dedede;padding-bottom: 10px;margin-bottom: 20px;margin-top: 10px;">
            <h2>DISCLAIMER</h2>
          </div>
          <ul style="list-style: none;">
            <li style="margin-bottom: 10px;">
              <ul>
                <li style="margin-bottom: 20px;">
                  Except as otherwise expressly provided in this Agreement, the Business Affiliate does
                  make any representation or warranty, express or implied, in connection with the subject
                  matter of this Agreement and hereby disclaims any and all implied warranties, including
                  all implied warranties of merchantability or fitness for a particular purpose regarding such
                  subject matter.
                </li>
                <li style="margin-bottom: 20px;">
                  The Business Affiliate acknowledges the difficulties inherent to the use of the Internet, in
                  particular, varying speeds and congestion in the network can cause interruptions and
                  difficulties in accessing JusBid. Each Party excludes any and all liability in respect of the
                  other party which is related to any, temporary (scheduled or unscheduled) and/or partial or
                  wholly, breakdown or downtime (for maintenance, updates or otherwise) of JusBid and/or
                  the Services.
                </li>
              </ul>
            </li>
          </ul>
        </div>
    
        <div style="margin-top: 40px;">
          <div style="border-bottom: 1px solid #dedede;padding-bottom: 10px;margin-bottom: 20px;margin-top: 10px;">
            <h2>INDEMNIFICATION</h2>
          </div>
          <ul style="list-style: none;">
            <li style="margin-bottom: 10px;">
              <ul>
                <li style="margin-bottom: 20px;">
                  The Business Affiliate hereby agrees to defend, indemnify, and hold harmless Rudrohom
                  and its affiliates, officers, directors, agents, employees, (collectively “Indemnified Parties”)
                  harmless against and all liabilities, actions, losses, payments made in settlement, suits,
                  proceedings, demands, damages, claims (including third-party claims), costs and expenses
                  including reasonable attorney’s fees from third parties resulting from:
                </li>
                <ul style="padding: 10px 40px;">
                  <li style="margin-bottom: 20px;">breach of any representation or warranty provided by the Business
                    Affiliate under
                    this Agreement;
                  </li>
                  <li style="margin-bottom: 20px;">violation or alleged violation of any Applicable Law in relation to this
                    Agreement;
                  </li>
                  <li style="margin-bottom: 20px;">any infringement of any Intellectual Property Rights of a third party or
                    person with
                    respect to the Services; and
                  </li>
                  <li style="margin-bottom: 20px;">any act, commission or omission, willful negligence, misrepresentation,
                    fraud,
                    forgery, dishonesty, misconduct or breach of any of the terms and conditions of this
                    Agreement by the Business Affiliate or its personnel.
                  </li>
                </ul>
                <li style="margin-bottom: 20px;">
                  Save as otherwise provided for in this Agreement, the maximum liability of a Party for all
                  claims made against such Party by the other Party under or in connection with this
                  Agreement in a calendar year shall not exceed the aggregate commission received or paid
                  by such Party in the preceding 6 (six) months or INR 1,00,000 (whichever is higher), unless
                  in the event of fraud or willful misconduct of Indemnifying Party, in which event the
                  limitation of liability is not applicable for such liable Party.
                </li>
                <li style="margin-bottom: 20px;">
                  The Business Affiliate shall promptly notify Rudrohom and shall act in good faith anduse
                  commercially reasonable efforts to consult, cooperate and assist Rudrohom in the defense
                  and/or settlement of such claim, whereas the Rudrohom shall be entitled to take over a
                  claim and assume the defense and settlement and the Business Affiliate shall not make any
                  admission, file any papers, consent to the entry of any judgment or enter into any
                  compromise or settlement without the prior written consent of the Business Affiliate (which
                  shall not unreasonably be withheld, delayed or conditioned).
                </li>
                <li style="margin-bottom: 20px;">
                  This Clause shall survive the termination of this Agreement.
                </li>
              </ul>
            </li>
          </ul>
        </div>
    
    
        <div style="margin-top: 40px;">
          <div style="border-bottom: 1px solid #dedede;padding-bottom: 10px;margin-bottom: 20px;margin-top: 10px;">
            <h2>TERMINATION</h2>
          </div>
          <ul style="list-style: none;">
            <li style="margin-bottom: 10px;">
              <ul>
                <li style="margin-bottom: 20px;">
                  The term of this Agreement shall commence on the Execution Date and shall remain in
                  effect until either Party terminates the Agreement in accordance with the provisions
                  mentioned hereinbelow (<b>“Term”</b>).
                </li>
                <li style="margin-bottom: 20px;">
                  It is agreed and acknowledged between the Parties that the Business Affiliate shall not have
                  the right to terminate this Agreement during the initial 6 (six) months from the Effective
                  Date (hereinafter referred to as <b>“Lock-in Period”</b>). However, it is clarified that in the event
                  the Business Affiliate terminates this Agreement during the Lock-in Period, it shall be liable
                  to pay to Rudrohom, such Fee as may be mutually agreed between the Parties.
                </li>
                <li style="margin-bottom: 20px;">
                  Upon expiry of the Lock-in Period, either Party may terminate this Agreement in wholeor
                  in part, at any time for its convenience, by giving 30 (thirty) days prior written notice to the
                  other Party.
                </li>
                <li style="margin-bottom: 20px;">
                  Rudrohom shall have the right to terminate this Agreement with immediate effect upon
                  giving written notice of termination to the Business Affiliate if :
                </li>
                <ul style="padding: 10px 40px;">
                  <li style="margin-bottom: 20px;">
                    No materialized transactions have occurred in a period of 6 (six) consecutive
                    months; or
                  </li>
                  <li style="margin-bottom: 20px;">Business Affiliate commits a breach of its obligations under this
                    Agreement and, if
                    the breach is capable of remedy, fails to remedy the breach within 7 (seven) days
                    of being specifically required in writing to do so by Rudrohom notifying of such
                    breach; or
                  </li>
                  <li style="margin-bottom: 20px;">Business Affiliate ceases or threatens to cease to carry on all or a
                    substantial part
                    of its business, or becomes insolvent, or makes an assignment for the benefit of its
                    creditors, or a receiver is appointed for its business, or an order is made for the
                    winding up of it (other than for the purposes of amalgamation or reconstruction);
                    or
                  </li>
                  <li style="margin-bottom: 20px;">Business Affiliate commits fraud, negligence and/or willful misconduct;
                    and
                  </li>
                  <li style="margin-bottom: 20px;">Business Affiliate is declared insolvent and/or bankrupt and/or a case
                    for
                    bankruptcy is filed and accepted in appropriate court of jurisdiction against the
                    Business Affiliate.
                  </li>
                </ul>
                <li style="margin-bottom: 20px;">
                  Upon termination of this Agreement for any reason whatsoever:
                </li>
                <ul style="padding: 10px 40px;">
                  <li style="margin-bottom: 20px;">
                    Both the Parties shall continue to meet their payment obligations with respect to
                    their outstanding liabilities accrued before such termination, on the condition that
                    both the Parties have the correct contact and banking details for the other Party
                    during that period; and
                  </li>
                  <li style="margin-bottom: 20px;">Rudrohom shall immediately cease from rendering any Services to the
                    Business
                    Affiliate and refrain from any act/omission that would or may indicate any
                    relationship between the Parties; and
                  </li>
                  <li style="margin-bottom: 20px;">any rights or authority granted to either Party by the other Party under
                    this
                    Agreement shall be terminated with immediate effect and all payments accrued
                    before or on the effective date of termination will become immediately due and
                    payable by the Business Affiliate; and
                  </li>
                  <li style="margin-bottom: 20px;">Neither Party shall have the right to use any Confidential Information
                    provided to
                    it to perform the obligations under this Agreement for any purpose whatsoever; and
                  </li>
                  <li style="margin-bottom: 20px;">Each Party shall, notwithstanding any lien or any other right to withhold
                    the same,
                    immediately deliver to the other Party, all Confidential Information provided to
                    perform their respective obligations under this Agreement.
                  </li>
                </ul>
                <li style="margin-bottom: 20px;">
                  Immediately upon the termination taking effect, Business Affiliate will remove any and all
                  links to JusBid, all Rudrohom/ JusBid-related content, links, banners, logos, and other
                  references to Rudrohom/ JusBid.
                </li>
              </ul>
            </li>
          </ul>
        </div>
    
    
        <div style="margin-top: 40px;">
          <div style="border-bottom: 1px solid #dedede;padding-bottom: 10px;margin-bottom: 20px;margin-top: 10px;">
            <h2>MISCELLANEOUS</h2>
          </div>
          <ul style="list-style: none;">
            <li style="margin-bottom: 10px;">
              <ul>
                <li style="margin-bottom: 20px;">
                  <b>Successors and Assigns.</b> This Agreement shall inure to the benefit of the successors and
                  assigns of Rudrohom.
                </li>
                <li style="margin-bottom: 20px;">
                  <b>Force Majeure:</b> Neither Party shall have any liability or be deemed to be in breach of this
                  Agreement for any delays or failures in performance of this Agreement which result from
                  circumstances (force majeure events) beyond the control of the Party whose performance
                  is being affected, including but not limited to natural disasters, COVID- 19, governmental
                  or regulatory actions or restrictions, sanctions, embargoes, hostilities of any kind, wars,
                  civil wars, terrorist acts, riots, insurrections, nuclear incidents, essential utilities failure, etc.
                  A force majeure event shall not prevent the Parties from exercising their right toterminate
                  this Agreement in accordance with the relevant provisions set out herein.
                </li>
                <li style="margin-bottom: 20px;">
                  <b>Waiver.</b> The failure of any Party to insist, in any instance, upon performance of any of the
                  terms or conditions of this Agreement, or the waiver by any Party of any term or condition
                  hereof in any one instance shall not be construed as a waiver of future performance of any
                  such term or condition and the obligations of any Party with respect thereto shallcontinue
                  in full force and effect.
                </li>
                <li style="margin-bottom: 20px;">
                  <b>Entire Agreement and Amendments.</b> This Agreement supersedes and cancels any and all
                  previous understandings, representations and agreements of whatever nature between the
                  Parties with respect to the matters covered herein. The Agreement sets forth the entire
                  agreement between the Parties with respect to the subject matter herein and may be
                  amended only by an agreement in writing signed by all the Parties hereto.
                </li>
                <li style="margin-bottom: 20px;">
                  <b>Severability.</b> If any provision of this Agreement or the application thereof to any person or
                  circumstance shall be invalid or unenforceable to any extent for any reason including by
                  reason of any law or regulation or government policy or any amendment thereof, the
                  remainder of this Agreement and the application of such provision to persons or
                  circumstances other than those as to which it is held invalid or unenforceable shall not be
                  affected thereby, and each provision of this Agreement shall be valid and enforceable to
                  the fullest extent permitted by law. Any invalid or unenforceable provision of this
                  Agreement shall be replaced with a provision which is valid and enforceable and most
                  nearly reflects the original intent of the unenforceable provision.
                </li>
                <li style="margin-bottom: 20px;">
                  <b>Heading – Wording.</b> The headings in this Agreement are for convenience only and shall
                  not affect the construction or interpretation of this Agreement. Words denoting the singular
                  shall include the plural and vice versa. Words denoting any gender shall include all genders.
                  Words denoting persons shall include corporations and vice versa.
                </li>
                <li style="margin-bottom: 20px;">
                  <b>No Control.</b> Rudrohom does not in any way (directly or indirectly, independently or in
                  conjunction with any party) own, manage, operate or control any hotels, or any room in
                  such hotels.
                </li>
              </ul>
            </li>
          </ul>
        </div>
    
    
        <div style="margin-top: 40px;">
          <div style="border-bottom: 1px solid #dedede;padding-bottom: 10px;margin-bottom: 20px;margin-top: 10px;">
            <h2>GOVERNING LAW AND JURISDICTION</h2>
          </div>
          <ul style="list-style: none;">
            <li style="margin-bottom: 10px;">
              <ul>
                <li style="margin-bottom: 20px;">
                  Any disputes arising out or in connection with this agreement shall exclusively be
                  submitted to and dealt with by the competent court in Rajasthan, India, without regard to
                  the conflict of laws rules.
                </li>
              </ul>
            </li>
          </ul>
        </div>
    
    
        <div style="margin-top: 20%;">
          <div style="border-bottom: 1px solid #dedede;padding-bottom: 10px;margin-bottom: 20px;text-align: center;">
            <h4>[Schedule follows]</h4>
            <h4 style="padding-top: 10px;">[I accept button follows]</h4>
            <h3 style="padding-top: 50px;">SCHEDULE I </h3>
            <h3 style="text-align: center; padding-top: 20px;">PAYMENT TERMS</h3>
          </div>
          <p style="margin-top: 20px;">In furtherance to the booking process, the payment terms shall be as follows:</p>
    
          <ul style="list-style: none;">
            <li style="margin-bottom: 10px;">
              <ul>
                <li style="margin-bottom: 20px; margin-top: 20px;">The standard commission rate shall be 18% for the first
                  24 (Twenty-Four) months from
                  the date of execution of this Agreement. However, the commission rate may vary
                  depending upon the mutual agreement between the Parties.
                </li>
                <li style="margin-bottom: 20px;">After the booking has been accepted by the Business Affiliate/Hotelier, the
                  Business
                  Affiliate/Hotelier cannot cancel the reservation for any reason whatsoever and in the
                  event the Business Affiliate cancels any booking/reservation, it shall be liable to pay a
                  penalty (Double the amount of booking) in accordance with Rudrohom’s company
                  policy.
                </li>
                <li style="margin-bottom: 20px;"> In case of an Instant Booking, the payment will be remitted within 2 (two)
                  working days
                  after checkout of the Guest from the hotel/venue. For purpose of this Agreement, the
                  term <b>“Instant Booking”</b> shall mean a bid made by a Guest with the Business Affiliate
                  within 3 (three) days prior to the check-in date, and the same being accepted by the
                  Business Affiliate.
                </li>
    
                <li style="margin-bottom: 20px;">Further, in case of a Advance Booking, the payment will be remitted in
                  installment by
                  Rudrohom i.e 25 (twenty-five) percent of the payment will be payable within 2 (two)
                  working days of the booking and the rest 75 (seventy five) percent will be payble before
                  2 (Two) working days of the Guest’s check-in in the hotel/venue. For purpose of this
                  Agreement, <b>“Advance Booking”</b> shall mean bid made by a Guest with the Business
                  Affiliate at-least 4 (four) days prior to the check-in date, and the same being accepted
                  by the Business Affiliate.
                </li>
    
                <li style="margin-bottom: 20px;">The invoice shall be generated separately for each booking/reservation.
                </li>
    
                <li style="margin-bottom: 20px;">The Business Affiliates/Hoteliers shall raise an invoice with respect to
                  the booking
                  received from the Platform in the name of Rudrohom Comtrade Private Limited, after
                  deducting the appropriate commission as previously decided between the Parties and
                  thereafter adding the GST amount as mentioned in the table below:
                </li>
              </ul>
            </li>
          </ul>
        </div>
    
        <div style="display: flex;justify-content: center;width: 100%;">
    
          <table>
            <tr>
              <th>GST Rates for Hotels based on Room Tariff</th>
              <th></th>
            </tr>
            <tr>
              <td><b>Tariff per Night</b></td>
              <td><b>GST Rate</b></td>
            </tr>
            <tr>
              <td>Rs.1,000 (Less than rupees one thousand)</td>
              <td>No Tax</td>
            </tr>
            <tr>
              <td>Rs.1,001 -7,500</td>
              <td>12%</td>
            </tr>
            <tr>
              <td>= or > INR 7,501 (equal to or greater than rupees seven thousand five hundred and one)</td>
              <td>18%</td>
            </tr>
            <tr>
              <td><b>The rate can change according to central government notifications</b></td>
              <td></td>
            </tr>
          </table>
        </div>
    
    
    
    
      </div>
</section>


<main-footer></main-footer>