<app-header></app-header>
<div class="loading_bar" *ngIf="false">
    <div class="text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
cxcfhdfhdfh
<section class="profile_page my-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-11 mx-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" aria-current="page">
                            <a routerLink="" class="none_active">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                Home
                            </a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a>
                                <i class="fa fa-user" aria-hidden="true"></i> Profile
                            </a>
                        </li>
                    </ol>
                </nav>
                <div style="display: flex;align-items: center; justify-content: space-between;">
                    <div>
                        <h1 style="font-weight: bold;">Profile</h1>
                    </div>
                    <div class="mx-4" *ngIf="false">
                        <div class="alert alert-success py-1" role="alert">
                           
                        </div>
                    </div>
                    <div class="mx-4" *ngIf="false">
                        <div class="alert alert-success py-1" role="alert">
                            profileImgEditResMsg
                        </div>
                    </div>
                    <div class="d-block d-lg-none">
                        <a  class="btn btn-primary cursor-pointer">Logout</a>
                    </div>
                </div>
                <hr>
                <div class="bid-data">
                    <div class="row">
                        <div class="col-xl-4 col-lg-5 col-md-12">
                            <ng-container *ngIf="false">
                                <div class="card shadow-sm mb-4 p-2">
                                    <div class="card_body ">
                                        <div class="prifle_img text-center">
                                            <div class="shine photo"></div>
                                        </div>
                                        <div class="card_header">
                                            <div class="lines shine"></div>
                                        </div>
                                        <div class="Profile">
                                            <div class="lines shine"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card shadow-sm p-4 mb-4">
                                    <div class="card_body">
                                        <div class="row mb-2">
                                            <div class="col-xl-4 col-lg-5 col-4">
                                                <div class="lines shine"></div>

                                            </div>
                                            <div class="col-xl-8 col-lg-7 col-8">
                                                <div class="lines shine"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-4 col-lg-5 col-4">
                                                <div class="lines shine"></div>
                                            </div>
                                            <div class="col-xl-8 col-lg-7 col-8">
                                                <div class="lines shine"></div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-xl-4 col-lg-5 col-4">
                                                <div class="lines shine"></div>
                                            </div>
                                            <div class="col-xl-8 col-lg-7 col-8">
                                                <div class="lines shine"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container>
                                <div class="card shadow-sm mb-4 p-2">
                                    <div class="card_body ">
                                        <form>
                                            <div class="prifle_img mb-4 text-center">
                                                <label for="profile" style="position: relative;">
                                                    <ng-container>
                                                        <i class="fa fa-edit bg-light p-2 rounded-circle border text-center shadow-sm cursor-pointer"
                                                            style="position: absolute;bottom: 5px;right: 5px;"></i>
                                                        <img src="assets/images/emp_img1.png" class="" width="120px"
                                                            height="120px"
                                                            style="object-fit: cover;border-radius: 100%;" alt="">
                                                    </ng-container>
                                                    <!-- <ng-template #noProfileImg>
                                                        <i class="fa fa-edit bg-light p-2 rounded-circle border text-center shadow-sm cursor-pointer"
                                                            style="position: absolute;bottom: 5px;right: 5px;"></i>
                                                        <img src="https://storage.googleapis.com/jusbid_cloud_storage/assets/images/nobody_m.original.jpg"
                                                            width="120px" alt="">
                                                    </ng-template> -->
                                                </label>
                                                <input type="file" id="profile" ngModel name="profile_img"
                                                    style="display: none;" />
                                            </div>
                                            <div class="card_header">
                                                <h5>Harshita Shrimali</h5>
                                                <h6>Personal Profile</h6>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="card shadow-sm p-4 mb-4">
                                    <div class="card_body">
                                        <div class="row mb-2">
                                            <div class="col-xl-4 col-lg-5 col-4">
                                                <label for="firstname" class="form-label">MOBILE NO</label>

                                            </div>
                                            <div class="col-xl-8 col-lg-7 col-8">
                                                <label for="lastname" class="form-label">7014998133
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-xl-4 col-lg-5 col-4">
                                                <label for="firstname" class="form-label">EMAIL ID</label>

                                            </div>
                                            <div class="col-xl-8 col-lg-7 col-8">
                                                <label for="lastname" class="emailid">harshitashrimali@gmail.com
                                                </label>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-xl-4 col-lg-5 col-4">
                                                <label for="firstname" class="form-label">Password
                                                </label>

                                            </div>
                                            <div class="col-xl-8 col-lg-7 col-8">
                                                <label for="Password" class="form-label"
                                                    style="display: flex;align-items: center;">
                                                    <!-- <span >**********</span> -->
                                                    <span>1234567890</span>
                                                    <i class="fa cursor-pointer mx-2"></i>
                                                </label>
                                                <span>

                                                    <h6>
                                                        <a class="Change-password cursor-pointer">Change Password?</a>
                                                    </h6>

                                                </span>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                        <div class="col-xl-8 col-lg-7 col-md-12">
                            <ng-container *ngIf="false">
                                <div class="card shadow-sm p-4">

                                    <div class="row">
                                        <div class="col-lg-10 col-9">
                                            <div class="lines shine mt-0"></div>
                                            <div class="lines shine"></div>
                                        </div>
                                        <div class="col-lg-2 col-3 text-right ">
                                            <div class="button shine"></div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="card_body mt-4">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="lines shine"></div>
                                            </div>
                                            <div class="col-8">
                                                <div class="lines shine"></div>
                                            </div>

                                        </div>
                                        <div class="Barline mt-2"></div>
                                        <div class="row mt-3">
                                            <div class="col-4">
                                                <div class="lines shine"></div>
                                            </div>
                                            <div class="col-8">
                                                <div class="lines shine"></div>
                                            </div>
                                        </div>
                                        <div class="Barline mt-3"></div>
                                        <div class="row mt-4">
                                            <div class="col-4">
                                                <div class="lines shine"></div>
                                            </div>
                                            <div class="col-8">
                                                <div class="lines shine"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container >
                                <div class="card shadow-sm p-4">

                                    <div class="d-flex justify-content-between">
                                        <div class="my-auto d-flex">
                                            <div class="line"></div>
                                            <div class="User-Name mx-2">
                                                <h6 class="User-Profile-Name">User Profile
                                                    <h6 class="Basic-info">basic info, for a faster booking experience
                                                    </h6>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="my-auto">
                                            <button type="button" class="btn btn-primary" >
                                                Edit
                                            </button>
                                            <!-- <button type="button" class="btn btn-primary "
                                                (click)="editProfileDetails()" *ngIf="is_editProfileDetails">
                                                Cancel
                                            </button> -->
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="card_body">
                                        <ng-container>
                                            <div class="row">
                                                <div class="col-4">
                                                    <label for="current_password" class="label-name">NAME</label>
                                                </div>
                                                <div class="col-8">
                                                    <label class="user-Name" style="font-size: 16px;">
                                                    Harshita Shrimali</label>
                                                </div>
                                            </div>
                                            <div class="Barline mt-2"></div>
                                            <div class="row mt-3">
                                                <div class="col-4">
                                                    <label for="current_password" class="label-name">BIRTHDAY</label>
                                                </div>
                                                <div class="col-8">
                                                    <b>12/12/1998</b>
                                                </div>
                                            </div>
                                            <div class="Barline mt-3"></div>
                                            <div class="row mt-3">
                                                <div class="col-4">
                                                    <label for="current_password" class="label-name">GENDER</label>
                                                </div>
                                                <div class="col-8">
                                                    <b>Female</b>
                                                </div>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="false">
                                            <form >
                                                <div class="row mb-2">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="firstname" class="form-label">First Name</label>
                                                            <input type="text" class="form-control" id="firstname"
                                                                name="firstname" >
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="lastname" class="form-label">Last Name</label>
                                                            <input type="text" class="form-control" id="lastname"
                                                                name="lastname" >
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="mb-4">
                                                    <label for="mobile" class="form-label">Gender</label>
                                                    <div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" name="gender"
                                                                id="Male" >
                                                            <label class="form-check-label" for="Male">Male</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" name="gender"
                                                                id="Female" >
                                                            <label class="form-check-label" for="Female">Female</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" name="gender"
                                                                id="Other" >
                                                            <label class="form-check-label" for="Other">Others</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xl-4 col-lg-6">
                                                        <div class="mb-4">
                                                            <label for="dob" class="form-label">Date of Birth</label>
                                                            <input type="date" name="dob" class="form-control" id="dob">
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-4 col-lg-6">
                                                        <div class="mb-4">
                                                            <label for="mobile" class="form-label">Phone Number</label>
                                                            <input type="number" class="form-control" id="mobile"
                                                                name="mobile" >
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-4 col-lg-12">
                                                        <div class="mb-4">
                                                            <label for="email" class="form-label">Email Address</label>
                                                            <input type="text" class="form-control" id="email"
                                                                name="email" >
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group mb-3">
                                                            <label for="state">State</label>
                                                            <select class="form-control" name="state" id="state" >
                                                                <option value="" selected disabled>Select State</option>
                                                                <ng-container *ngFor="false">
                                                                    <option >
                                                                    </option>
                                                                </ng-container>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group mb-3">
                                                            <label for="city">City</label>
                                                            <select class="form-control" name="city" id="city" *ngIf="false">
                                                                <option value="" disabled >
                                                                    Please
                                                                    Select state first</option>
                                                                <option value="" disabled >
                                                                    Select
                                                                    City</option>
                                                                <ng-container >
                                                                    <option >Udaipur</option>
                                                                </ng-container>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <input type="hidden" name="mobile">

                                                <input type="hidden" name="password" >
                                                <button type="submit" class="btn btn-primary">Update</button>
                                            </form>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="card shadow-sm p-4 mt-4 Save-card">
                                    <div class="d-flex justify-content-between">
                                        <div class="my-auto d-flex">
                                            <div class="line"></div>
                                            <div class="User-Name mx-2">
                                                <h6 class="User-Profile-Name">Save Traveller(s) </h6>
                                                <h6 class="Basic-info">you have 
                                                    traveller(s)
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="my-auto">
                                            <button type="button" class="btn btn-danger">Add Traveller</button>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="customer_table">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Sr.No.</th>
                                                    <th scope="col">Customer Name</th>
                                                    <th scope="col">Customer Email</th>
                                                    <th scope="col">Customer Contact</th>
                                                    <th scope="col">Customer Address</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr >
                                                    <th scope="row">1</th>
                                                    <td>Harshita Shrimali</td>
                                                    <td>harshitashrimali@gmail.com</td>
                                                    <td>1234567890</td>
                                                    <td>shrimali colony </td>
                                                   <ng-container>
                                                    <td style="display: flex;">
                                                        <button class="btn btn-danger btn-sm mx-2"
                                                         >Remove</button>
                                                        <button class="btn btn-warning btn-sm"
                                                           >Edit</button>
                                                    </td>
                                                   </ng-container>
                                                   
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>