<main-header [header]="'main'"></main-header>

<div class="container">
  <div class="payment-security">
    <div class="row" id="rev"  style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); padding: 20px; margin-top: -15px;">
      <div class="col-lg-7 col-sm-12">
        <div class="first_column">
          <h1>Payment Security</h1>
          <div class="para">
            <p class="p">
              Jusbid ensures that every transaction you conduct over the website or mobile application is executed in
              a safe and secure environment. JusBid.in is protected by Secured Socket Layer (SSL) technology by SSL
              COMPANY PROVIDER NAME, the leader in encryption technology. The process of encryption takes your banking
              information like debit or credit card, net banking, and UPI information and converts it into bits of code
              that are securely transmitted over the Internet. This scrambled data cannot be read as the information
              travels over the Internet. Your payment details may be shared with our service providers or vendors to the
              extent deemed to be necessary.
              If you are more comfortable with giving your debit/credit card, Net Banking, or UPI information over the
              phone, you can call our Customer Service Centre on MOBILE NUMBER.

            </p>
            <p class="p">
              If you are more comfortable with giving your debit/credit card, Net Banking, or UPI information over
              the
              phone, you can call our Customer Service Centre on MOBILE NUMBER.</p>
            <p class="p">If you have any additional queries or concerns please email us and we will reply within 24
              hours.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-5 col-sm-12 mx-auto" style="display: flex; justify-content: center;">
        <img src="assets/images/Asset 1 1.svg" alt="" class="image-fluid image-box">
      </div>
    </div>
  </div>
</div>


  <main-footer></main-footer>