* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: Poppins;

}

.container {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto
}

.header {
    padding: 2rem;
    text-align: center;
    opacity: 1;
    color: #fc8230;
    margin-top: 0;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
    padding: 15px;
    word-break: normal;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    padding: 15px;
}

ul,h4 {
    padding-left: 45px;
}

h3,
h4,
p {
    width: 100%;
}